a{
    cursor:pointer;
}

.gridStyle {
    height:550px;
    border:1px solid #ddd;
}
.ngHeaderContainer {
    border-bottom:1px solid #ddd;
}
.ngHeaderScoller {
    color: #707070;
    font-weight: normal;
    background: #f2f2f2;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f8f8f8),to(#ececec));
    background-image: -webkit-linear-gradient(top,#f8f8f8,0%,#ececec,100%);
    background-image: -moz-linear-gradient(top,#f8f8f8 0,#ececec 100%);
    background-image: linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);
    background-repeat: repeat-x;
    line-height:40px;height:40px;
}
.ngHeaderText {
    height:30px;
    line-height:30px;
}
.ngSelectionCell {
    margin-left:4px;
    margin-top:12px;
}
.ngCell {
    height:30px;line-height:30px;
    border-bottom:1px solid #ddd;
}
.ngRow.odd {
    background:#f9f9f9;
}
.ngRow.even {
    background:#fff
}
.ngTopPanel {
    color: #707070;
    font-weight: normal;
    border-bottom:1px solid #ddd;
    background: #F2F2F2;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f8f8f8), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f8f8f8, 0%, #ececec, 100%);
    background-image: -moz-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
    background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
}
.ngSelectionCell input {
    top:5px;
}
.help-block {
    display:inline-block;
}

/***/

commonform {
    padding-top:30px;
    display:block;
}
.form-actions {
    margin-bottom:0;
}
.actionsBtn {
    margin-bottom:15px;
}
.actionsBtnLeft {
    float:left;
    display:inline;
    margin-left:15px;
}
.actionsBtnRight {
    float:right;
    display:inline;
    margin-right:15px;
}

.dropdown-menu li.disabled a,.dropdown-menu li.disabled a:hover,.dropdown-menu li.disabled a:visited{
    color:#ddd;
}

/**
*   bills
*/
.billContainer {
    border:1px solid #CFCFCF;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);
    padding:10px 20px;
    margin-bottom:20px;
}
.billContainer .form-control {
    height:auto !important;
}
.billHeader {
    padding:10px 0;
    margin-bottom:10px;
}
.billHeader label,.billHeader input,.billHeader span {
    font-size:12px;
}

.billBody table thead th {
    text-align:center;
}
.billBody table thead th:nth-child(1), .billBody table tbody th:nth-child(1) {
    width:40px;
}
.billBody table thead th:nth-child(2) {
    width:60px;
}
.billBody table td {
    position:relative;
    padding:0 5px !important;height:36px;line-height:38px !important;
    font-size:14px;
}
.billBody table td label {
    width:100%;height:34px;line-height:34px;
    display:block;
}
.billBody table td input.editAble,.billBody table td select {
    position:absolute;
    left:0;top:0;
    width:100%;
    background:#fff !important;
    border:1px solid #4BB8F3;
    box-shadow:0 1px 2px 1px rgba(0, 0, 0, 0.1) inset !important;
    z-index:10;
    height:36px;
}
.billBody .chosen-container {
    position:absolute;
    left:0;top:0;
    width:100%;
    height:36px;
    line-height:36px;
}
.billBody .chosen-container .chosen-single {
    height:36px;line-height:36px;
    background:0;
    border:0;
}
.billBody .chosen-container .chosen-single b {
    display:none;
}
.billBody .chosen-container.chosen-with-drop .chosen-single{
    border:1px solid #4492c9;
    border-bottom:0;
}
.billBody .rowHead .icon {
    cursor:pointer;
    margin:0 3px;
}
.typeAheadList {
    position:absolute;
    width:100%;
    border:1px solid #ddd;
    top:38px;
    left:0;
    list-style:none;
    padding:0;
    margin:0;
    background:#fff;
}
.typeAheadList li {
    height:36px;line-height:36px;
    cursor:pointer;
}
.typeAheadList li:hover,.typeAheadList li.active {
    background:#f2f2f2;
}
.tdEditAble .dropdown-menu {
    width:100%;
    margin:0;
}