.print-container {
    table {
        width: 100%;

        th, td {
            border: 1px solid #ddd;
            padding: 5px 8px;
        }
    }

    h1 {
        margin:0;
        font-size:20px;
        padding: 10px;
    }

    .float {
        float:left;display:inline;
        height:30px;line-height:30px;
    }

    .print-header {
        position:relative;
        h1 {
            text-align:center;
        }

        .bill-no {
            position:absolute;
            left:10px;
            top:10px;
        }
    }
}

.mt-10 {
    margin-top:10px;
}
.m-10-0 {
    margin:10px 0;
}
.m-0-10 {
    margin:0 10px;
}

@media screen {
    .print-container {
        border:1px solid #e2e2e2;
        padding: 20px;
        margin:20px;
        box-shadow: 3px 3px 1px 1px #aaa;
    }
}


@media print {
    * {
        color: #000 !important;
    }
    .print-container {
        padding:0;
        margin:0;
    }
    .print-btns, .actionsBtn, .footer-copy {
        display:none !important;
    }

    th, td {
        border-color: #000 !important;
    }
}