<pageactions></pageactions>
<div class="billContainer workflowBillContainer">
    <form name="confirmStockoutScript" ng-keydown="doKeydown($event);" novalidate>
        <div class="billHeader">
            <div class="row">
                <div class="col-sm-3">
                    <label ng-bind="'lang.customer'|lang">: </label>
                    <input type="text" ng-model="formMetaData.source.customer" readonly />
                </div>
                <div class="col-sm-4">
                    <label>{{'lang.dateline'|lang}}: </label>
                    <span class="input-icon input-icon-right">
                        <input type="datetime-local" ng-model="formMetaData.dateline" readonly />
                    </span>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-3 align-right">
                    <span>{{'lang.billId'|lang}}:</span>
                    <span ng-bind="formMetaData.bill_id" ng-show="formMetaData.bill_id"></span>
                </div>
            </div>
        </div>
        <div class="billBody">
            <bill config="config"></bill>
        </div>
        <div class="billFooter clearfix">
            <div class="row form-group">
                <label class="col-sm-1 text-right">
                    {{'lang.memo'|lang}}
                </label>
                <div class="col-sm-11">
                    <input type="text" ng-model="formMetaData.memo" class="width-100" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 text-right">
                    {{'lang.sponsor'|lang}}
                </div>
                <div class="col-sm-4">
                    <span ng-bind="$parent.userInfo.truename"></span>
                </div>
                <div class="col-sm-7">
                    <button type="button" class="btn btn-sm btn-success" ng-click="doSubmit();">{{'lang.actions.submit'|lang}}</button>
                </div>
            </div>
        </div>
    </form>
</div>