<div ng-controller="DashboardNeedStockoutCtl">
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h4 class="lighter">
                <i class="icon-sign-out green"></i>
                <a ng-click="$root.goPage('store/list/stockout')" ng-bind="'lang.widgetTitles.needStockout'|lang"></a>
            </h4>
            <div class="widget-toolbar">
                <a data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body no-padding">
            <div class="widget-body-inner" style="display: block;">
                <div class="widget-main no-padding">
                    <table class="table table-bordered table-striped">
                        <thead class="thin-border-bottom">
                            <tr>
                                <th>
                                    <i class="icon-caret-right blue"></i>
                                    <span ng-bind="'lang.bill_id'|lang"></span>
                                </th>

                                <th>
                                    <i class="icon-caret-right blue"></i>
                                    <span ng-bind="'lang.source_model'|lang"></span>
                                </th>

                                <th class="hidden-480">
                                    <i class="icon-caret-right blue"></i>
                                    <span ng-bind="'lang.num'|lang"></span>
                                </th>
                                <th class="hidden-480">
                                    <i class="icon-caret-right blue"></i>
                                    <span ng-bind="'lang.status'|lang"></span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in items">
                                <td>
                                    <a ng-click="$root.goPage('store/editBill/stockout/id/'+item.id)">{{item.bill_id}}</a>
                                </td>
                                <td>{{item.source_model|lang}} {{item.source_id|idFormat}}</td>
                                <td ng-bind="item.total_num"></td>
                                <td>
                                    <span class="label label-{{item.processes.currentNode.status_class}} arrowed-right arrowed-in" ng-bind="item.processes.currentNode.status_text"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /widget-main -->
            </div>
        </div><!-- /widget-body -->
    </div>
</div>