<pageactions></pageactions>
<div class="billContainer">
    <form name="stockinScript" ng-keydown="doKeydown($event);" novalidate>
        <div class="billHeader">
            <div class="row">
                <div class="col-sm-3">
                    <label ng-bind="'lang.customer'|lang">: </label>
                    <input type="text" ng-model="formMetaData.source.customer" readonly />
                </div>
                <div class="col-sm-4">
                    <label>{{'lang.dateline'|lang}}: </label>
                    <span class="input-icon input-icon-right">
                        <input type="datetime-local" ng-model="formMetaData.dateline" placeholder="yyyy-mm-dd HH:MM" />
                    </span>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-3 align-right">
                    <span>{{'lang.billId'|lang}}:</span>
                    <span ng-bind="formMetaData.bill_id" ng-show="formMetaData.bill_id"></span>
                </div>
            </div>
        </div>
        <div class="billBody">
            <bill config="config"></bill>
        </div>
        <div class="billFooter clearfix">
            <div class="row form-group">
                <label class="col-sm-1 text-right" ng-bind="'lang.memo'|lang"></label>
                <div class="col-sm-11">
                    <input type="text" ng-model="formMetaData.memo" class="width-100" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1 text-right" ng-bind="'lang.sponsor'|lang"></div>
                <div class="col-sm-8">
                    <span ng-bind="$parent.userInfo.truename"></span>
                </div>
                <div class="col-sm-3 text-right">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="doSubmit();" ng-bind="'lang.actions.submit'|lang"></button>
                    <button type="button" class="btn btn-sm" onclick="history.go(-1);" ng-bind="'lang.actions.return'|lang"></button>
                </div>
            </div>
        </div>
    </form>
</div>