<pageactions></pageactions>

<div class="printAbleContainer print_{{printModule}}">
    <h1 ng-bind="i18n.lang.stockout">123</h1>
    <div ng-repeat="bill in data.datas">
        <hr class="hr-10" />
        <table class="width-100">
            <thead>
                <tr>
                    <th ng-bind="i18n.lang.factory_code_all"></th>
                    <th ng-bind="i18n.lang.goods_name"></th>
                    <th ng-bind="i18n.lang.standard"></th>
                    <th ng-bind="i18n.lang.version"></th>
                    <th ng-bind="i18n.lang.stock"></th>
                    <th ng-bind="i18n.lang.num"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in bill.rows">
                    <td ng-bind="row.factory_code_all"></td>
                    <td ng-bind="row.goods_name"></td>
                    <td ng-bind="row.standard_label"></td>
                    <td ng-bind="row.version_label"></td>
                    <td ng-bind="row.stock_name"></td>
                    <td ng-bind="row.num"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="printAbleBillHead row">
                            <div class="col-xs-4">
                                <span ng-bind="i18n.lang.bill_id|colon"></span>
                                <span ng-bind="bill.bill_id"></span>
                            </div>
                            <div class="col-xs-3">
                                <span ng-bind="bill.outtime|dateFormat"></span>
                            </div>
                            <div class="col-xs-3">
                                <span ng-show="bill.source_model" ng-bind="i18n.lang.source_model|colon"></span>
                                <span ng-show="bill.source_id" ng-bind="bill.source_id|idFormat"></span>
                                <span ng-show="bill.source_model" ng-bind="bill.source_model|lang"></span>
                            </div>
                            <div class="col-xs-2 text-right">
                                <span ng-bind="i18n.lang.stock_manager|colon"></span>
                                <span ng-bind="bill.stock_manager"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row text-center">
        <button class="btn btn-primary btn-sm hidden-print" ng-click="doPrint()">
            <i class="icon icon-print"></i> 
            {{i18n.lang.actions.print}}
        </button>
    </div>
</div>