<pageactions></pageactions>

<div class="printAbleContainer print_shipment print_shipment_{{d.shipmentTypeAlias}}" ng-repeat="d in data.datas">
    <label id="shipment_from_company" ng-bind="d.from_company"></label>
    <label id="shipment_from_name" ng-bind="d.from_name"></label>
    <label id="shipment_from_address" ng-bind="d.from_address"></label>
    <label id="shipment_from_phone" ng-bind="d.from_phone"></label>
    <label id="shipment_to_company" ng-bind="d.to_company"></label>
    <label id="shipment_to_name" ng-bind="d.to_name"></label>
    <label id="shipment_to_address" ng-bind="d.to_address"></label>
    <label id="shipment_to_phone" ng-bind="d.to_phone"></label>
</div>

<div class="row text-center">
    <button class="btn btn-primary btn-sm hidden-print" ng-click="doPrint()">
        <i class="icon icon-print"></i>
        {{'lang.actions.print'|lang}}
    </button>
</div>