.tmp
.idea
.idea/*
.settings
/server/Runtime/
/uploads/Avatars/*.jpg
/server/Data/apps/*.zip
/server/Data/logs/*.log
/server/Data/install.lock
/server/Data/Updates/*.zip
/utils/.settings
/utils/.project
/utils/.pydevproject
/apps/com.*