.tmp
.idea
.idea/*
.settings
nbproject
/server/Runtime/
/server/Conf/config.php
/uploads/Avatars/*.jpg
/server/Data/apps/*.zip
/server/Data/logs/*.log
/server/Data/install.lock
/server/Data/Updates/*.zip
/utils/.settings
/utils/.project
/utils/.pydevproject
/utils/server.ini
/apps/com-*
/uploads/2014/