<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ONES - Present by ONES Team.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="common/statics/css/vendor.css" />
        <link rel="stylesheet" href="common/statics/css/bootstrap.css" />
        <link rel="stylesheet" href="common/statics/css/ace.css" />
        <link rel="stylesheet" href="common/statics/css/ace-skins.css" />
        <link rel="stylesheet" href="common/statics/css/font-awesome.css" />
        <link rel="stylesheet" href="common/statics/css/main.css">
        <link rel="stylesheet" href="server/gateway.php?s=/FrontendRuntime/index/action/getCss" />
    </head>
    <body ng-app="ones" ng-controller="MainCtl">
        <div class="initCover" id="initCover">
            <div id="spinningSquaresG">
                <div id="spinningSquaresG_1" class="spinningSquaresG">
                </div>
                <div id="spinningSquaresG_2" class="spinningSquaresG">
                </div>
                <div id="spinningSquaresG_3" class="spinningSquaresG">
                </div>
                <div id="spinningSquaresG_4" class="spinningSquaresG">
                </div>
                <div id="spinningSquaresG_5" class="spinningSquaresG">
                </div>
                <div id="spinningSquaresG_6" class="spinningSquaresG">
                </div>
                <div id="spinningSquaresG_7" class="spinningSquaresG">
                </div>
                <div id="spinningSquaresG_8" class="spinningSquaresG">
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" id="navbar">
            <div class="navbar-container" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand"></a><!-- /.brand -->
                </div><!-- /.navbar-header -->

                <div class="navbar-header pull-right navbar-user" role="navigation">
                    <ul class="nav ace-nav">
                        <li class="light-blue">
                            <a data-toggle="dropdown" class="dropdown-toggle">
                                <img class="nav-user-photo" ng-src="{{BSURoot}}/Data/Avatars/avatar.php?email={{userInfo.email}}&s=50" />
                                <span class="user-info">
                                    <small>Welcome,</small>
                                    <em ng-bind="userInfo.truename"></em>
                                </span>

                                <i class="icon-caret-down"></i>
                            </a>

                            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#/department/Profile">
                                        <i class="icon-user"></i>
                                        <span ng-bind="i18n.lang.myprofile"></span>
                                    </a>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <a href="#/dashboard/list/myDesktop">
                                        <i class="icon-desktop"></i>
                                        <span ng-bind="i18n.lang.my_desktop"></span>
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="#/department/Logout">
                                        <i class="icon-power-off"></i>
                                        <span ng-bind="i18n.lang.logout"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- /.ace-nav -->
                </div><!-- /.navbar-header -->
            </div><!-- /.container -->
        </div>


        <div class="main-container" id="main-container">
            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>

                <div class="sidebar" id="sidebar">
                    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                            <a class="btn btn-success" href="#/HOME/list/apps">
                                <i class="icon icon-cloud"></i>
                            </a>

                            <a class="btn btn-info" href="http://www.ng-erp.com/manual/index.html" target="_blank">
                                <i class="icon-book"></i>
                            </a>

                            <button class="btn btn-warning">
                                <i class="icon-group"></i>
                            </button>

                            <button class="btn btn-danger">
                                <i class="icon-cogs"></i>
                            </button>
                        </div>

                        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                            <span class="btn btn-success"></span>

                            <span class="btn btn-info"></span>

                            <span class="btn btn-warning"></span>

                            <span class="btn btn-danger"></span>
                        </div>
                    </div><!-- #sidebar-shortcuts -->

                    <ul id="nav-list" class="nav nav-list" ng-controller="CommonSidebarCtl">
                        <li ng-repeat="nav in navs" ng-class="{'active': nav.id==activeShowNav}">
                            <a ng-class="{'dropdown-toggle' : nav.childs.length}" ng-click="checkActiveNav($index, nav.id);goPage(nav.url)">
                                <i class="icon-{{nav.icon}}"></i>
                                <span class="menu-text" ng-bind="i18n.lang.navs[nav.label]||nav.label"></span>
                                <b class="arrow icon-angle-down" ng-show="{{nav.childs.length}}"></b>
                            </a>
                            <ul class="submenu">
                                <li ng-repeat="nc in nav.childs" ng-class="{'active':nc.id==activeSubNav}">
                                    <a ng-click="checkSubActiveNav(nc.id, nav.id);goPage(nc.url)">
                                        <i class="icon-angle-double-right"></i>
                                        <span class="menu-text" ng-bind="i18n.lang.navs[nc.label]||nc.label"></span>
                                    </a>
                                    <ul class="submenu">
                                        <li ng-repeat="nct in nc.childs" ng-class="{'active':nct.id == activeThirdNav}">
                                            <a ng-click="checkThirdActiveNav(nct.id, nc.id);goPage(nct.url)">
                                                <i class="icon-angle-double-right"></i>
                                                <span class="menu-text" ng-bind="i18n.lang.navs[nct.label]||nct.label"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="sidebar-collapse" id="sidebar-collapse">
                        <i class="icon-angle-double-left" data-icon1="icon-angle-double-left" data-icon2="icon-angle-double-right"></i>
                    </div>
                </div>

                <div class="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home home-icon"></i>
                                <a href="#/HOME/Index/dashboard" ng-bind="i18n.lang.dashboard"></a>
                            </li>
                            <li ng-bind="currentPage.lang.app"></li>
                            <li class="active" ng-bind="currentPage.lang.module"></li>
                        </ul><!-- .breadcrumb -->

                        <div class="nav-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" autocomplete="off" />
                                <i class="icon-search nav-search-icon"></i>
                            </span>
                        </div><!-- #nav-search -->
                    </div>

                    <div class="page-content">
                        <div class="page-header">
                            <h1>
                                {{currentPage.lang.action||"Welcome"}}
                                <small>
                                    <i class="icon-angle-double-right"></i>
                                    {{currentPage.lang.actionDesc}}
                                </small>
                                <small ng-bind="i18n.lang.messages.loading" ng-show="dataQuering"></small>
                            </h1>
                        </div><!-- /.page-header -->
                        <div id="alerts-container"></div>
                        <div class="col-xs-12" ng-view></div>
                        <div class="clearfix"></div>
                        <hr class="hr-10 hr-double" />
                        <div class="row footer-copy">
                            <p class="text-center">
                                &copy; 2014 Present by <a href="http://www.ng-erp.com" target="_blank">ONES Team</a>
                                v<span ng-bind="onesConf['system.version']"></span>
                            </p>
                        </div>
                        
                        <!--//demo-->
                    </div><!-- /.page-content -->
                </div><!-- /.main-content -->

            </div><!-- /.main-container-inner -->
        </div><!-- /.main-container -->

        <script type="text/javascript">
            var ones = {};
        </script>
        <script src="server/gateway.php?s=/FrontendRuntime"></script>
    </body>
</html>
