<pageactions></pageactions>
<div class="billContainer">
    <form name="ordersScript" ng-keydown="doKeydown($event);" novalidate>
        <div class="billHeader">
            <div class="row">
                <div class="col-sm-3" id="abc">
                </div>
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">

                </div>
            </div>
        </div>
        <div class="billBody">
            <bill config="config"></bill>
        </div>
        <div class="billFooter clearfix">
            <div class="row form-group">
                <label class="col-sm-1 text-right bolder">

                </label>
                <label class="col-sm-9">

                </label>
                <div class="col-sm-2 text-right">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="doSubmit();">{{'lang.actions.submit'|lang}}</button>
                </div>
            </div>
        </div>
    </form>
</div>