<pageactions></pageactions>
{{formMetaData}}
<div class="billContainer">
    <form name="ordersScript" ng-keydown="doKeydown($event);" novalidate>
        <div class="billHeader">
            <div class="row">
                <div class="col-sm-3" id="abc">
                    <label ng-bind="i18n.lang.customer"></label>:
                    <inputfield config="customerSelectOpts"></inputfield>
                </div>
                <div class="col-sm-3">
                    <label>{{i18n.lang.dateline}}: </label>
                    <span class="input-icon input-icon-right">
                        <input type="text" class="form-control" 
                               size="10"
                               ng-model="formMetaData.inputTime" 
                               data-date-format="yyyy-MM-dd" 
                               data-date-type="object" 
                               data-max-date="today" 
                               data-autoclose="true"
                               bs-datepicker />
                        <i class="icon-calendar gray"></i>
                    </span>
                    <span class="input-icon input-icon-right">
                        <input type="text" size="8" 
                               class="form-control" 
                               ng-model="formMetaData.inputTime" 
                               data-time-format="HH:mm" 
                               data-time-type="object" 
                               data-autoclose="1" 
                               bs-timepicker />
                        <i class="icon-time gray"></i>
                    </span>
                </div>
                <div class="col-sm-3">
                    <inputfield config="typeSelectOpts"></inputfield>
                </div>
                <div class="col-sm-3 align-right">
                    <span>{{i18n.lang.billId}}:</span>
                    <span ng-bind="formMetaData.bill_id" ng-show="formMetaData.bill_id"></span>
                </div>
            </div>
        </div>
        <div class="billBody">
            <bill config="config"></bill>
        </div>
        <div class="billFooter clearfix">
            <div class="row form-group">
                <label class="col-sm-1 text-right bolder" ng-bind="i18n.lang.total_price_real"></label>
                <div class="col-sm-2">
                    <input type="text" ng-model="formMetaData.total_amount_real" class="input-medium text-right" />
                </div>
                <label class="col-sm-1" ng-bind="formMetaData.total_amount_real|currency:'￥'"></label>
                <label class="col-sm-1 text-right bolder" ng-bind="i18n.lang.rmbToBig"></label>
                <label class="col-sm-4" ng-bind="formMetaData.total_amount_real|rmbToBig"></label>
                
            </div>
            <div class="row form-group">
                <label class="col-sm-1 text-right bolder" ng-bind="i18n.lang.memo"></label>
                <div class="col-sm-11">
                    <input type="text" ng-model="formMetaData.memo" class="width-100" />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-1 text-right bolder">
                    {{i18n.lang.sponsor}}
                </label>
                <label class="col-sm-9">
                    <span ng-bind="$parent.userInfo.truename"></span>
                </label>
                <div class="col-sm-2 text-right">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="doSubmit();">{{i18n.lang.actions.submit}}</button>
                </div>
            </div>
        </div>
    </form>
</div>