<pageactions></pageactions>
<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <h5><span ng-bind="appInfo.name"></span> - <small ng-bind="appInfo.alias"></small></h5>

        <div class="widget-toolbar">
            <small ng-bind="i18n.lang.appPoweredBy"></small> :
            <a ng-href="{{appInfo.link}}" target="_blank" ng-bind="appInfo.author"></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-sm-7">
                        <h5 class="bolder" ng-bind="i18n.lang.appDesc"></h5>
                        <p class="grey" ng-bind="appInfo.description"></p>
                        <h5 class="bolder" ng-bind="i18n.lang.requirementsApp"></h5>
                        <p class="grey" ng-bind="appInfo.versions[appInfo.currentVersion].requirements"></p>
                        <h5 class="bolder" ng-bind="i18n.lang.appUpdateHistory"></h5>
                        <p class="grey">
                            <ul ng-repeat="ver in appInfo.versions">
                                <li>
                                    <i class="icon icon-arrow-up green"></i>
                                    <strong class="green bolder">v{{ver.version}} </strong>
                                    <span class="smaller grey">  - [{{ver.dateline|dateFormat:'Y-m-d'}}] </span>
                                    <p>{{ver.updates}}</p>
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <br />
                        <p ng-show="appInfo.installed"><icon class="icon icon-leaf green"></icon> <span ng-bind="i18n.lang.appStatusinstalled"></span></p>
                        <p ng-show="appInfo.hasUpdate"><icon class="icon icon-arrow-up green"></icon> <span ng-bind="i18n.lang.appStatusinstalledhasUpdate"></span></p>
                        <p>
                            <span ng-bind="i18n.lang.appLatestVersion"></span>:
                            <span class="green"> v<stong ng-bind="appInfo.latest_version"></stong></span>
                        </p>
                        <p ng-show="appInfo.currentVersion">
                            <span ng-bind="i18n.lang.appCurrentVersion"></span>:
                            <span class="green"> v<stong ng-bind="appInfo.currentVersion"></stong></span>
                        </p>
                    </div>

                    <div class="col-sm-12" ng-show="consoleMessages.length > 0">
                        <div class="alert alert-{{consoleClass}}">
                            <dl>
                                <dd ng-repeat="cm in consoleMessages" ng-bind="cm"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix form-actions center">
            <button ng-click="doAppInstall()" ng-show="!appInfo.installed" class="btn btn-primary" ng-bind="i18n.lang.actions.install"></button>
            <button ng-click="doAppUpgrade()" ng-show="appInfo.hasUpdate" class="btn btn-success" ng-bind="i18n.lang.actions.upgrade"></button>
            <button ng-click="doAppInactive()" ng-show="appInfo.status=='1'" class="btn btn-info" ng-bind="i18n.lang.actions.inactive"></button>
            <button ng-click="doAppActive()" ng-show="appInfo.installed&&appInfo.status=='0'" class="btn btn-success" ng-bind="i18n.lang.actions.active"></button>
            <button ng-click="doAppUninstall()" ng-show="appInfo.installed" class="btn btn-danger" ng-bind="i18n.lang.actions.uninstall"></button>
            <a href="javascript:history.back();" ng-bind="i18n.lang.actions.return" class="btn"></a>
        </div>
    </div>
</div>