<div class="row">
    <div class="col-lg-8">
        <label>
            <input name="form-field-checkbox" type="checkbox" class="ace" ng-model="cacheTypes[1]" />
            <span class="lbl" ng-bind="'lang.cache_temp'|lang">  </span>
        </label>
        <label>
            <input name="form-field-checkbox" type="checkbox" class="ace" ng-model="cacheTypes[2]" />
            <span class="lbl" ng-bind="'lang.cache_log'|lang">  </span>
        </label>
        <label>
            <input name="form-field-checkbox" type="checkbox" class="ace" ng-model="cacheTypes[3]" />
            <span class="lbl" ng-bind="'lang.cache_data'|lang">  </span>
        </label>
    </div>
    <div class="space-20"></div>
    <div class="col-lg-8">
        <p>
            <label>
                <input name="form-field-checkbox" type="checkbox" class="ace" ng-model="frontCache[0]" />
                <span class="lbl" ng-bind="'lang.front_cache_page'|lang">  </span>
            </label>
        </p>
        <p>
            <label>
                <input name="form-field-checkbox" type="checkbox" class="ace" ng-model="frontCache[1]" />
                <span class="lbl" ng-bind="'lang.front_cache_sessionStorage'|lang">  </span>
            </label>
        </p>
        <p>
            <label>
                <input name="form-field-checkbox" type="checkbox" class="ace" ng-model="frontCache[2]" />
                <span class="lbl" ng-bind="'lang.front_cache_localStorage'|lang">  </span>
            </label>
        </p>
    </div>
    <div class="space-20"></div>
    <div class="col-lg-8">
        <button ng-click="doClearCache();" class="btn btn-primary" ng-bind="'lang.actions.clearCache'|lang"></button>
    </div>
</div>