<section class="actionsBtn row clearfix">

    <div class="col-lg-8 right">
        <div class="pull-left btn-group">
            <a class="btn btn-sm btn-light" href="javascript:history.back();"><i class="icon icon-arrow-left"></i></a>
            <a class="btn btn-sm btn-light" href="" ng-click="$parent.doPageRefresh()"><i class="icon icon-refresh"></i></a>
            <a class="btn btn-sm btn-light" href="javascript:history.forward();"><i class="icon icon-arrow-right"></i></a>
        </div>
        <!--//workflow in detail page-->
        <div class="pull-left btn-group" ng-show="workflowInBill !== undefined">
            <button class="btn btn-sm btn-primary" ng-click="doViewWorkflowProcesses(formMetaData)">{{'lang.workflow'|lang}}</button>
            <button class="btn btn-sm btn-{{w.btn_class||'success'}}"
                    ng-repeat="w in workflowInBill track by $index"
                    ng-bind="w.name"
                    ng-click="doWorkflow($event, w.id, mainrow_id)"
                    ></button>
        </div>
        <div class="pull-left btn-group" ng-click="showFiltersModal();" ng-show="showFilters">
            <a class="btn btn-sm">
                <i class="icon icon-search"></i>
                <span ng-bind="'lang.actions.filters'|lang"></span>
            </a>
        </div>

        <!--//selected-->
        <div class="pull-left btn-group" ng-hide="false === selectAble">
            <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle" ng-class="{disabled: !gridSelected.length, 'btn-primary': gridSelected.length}">
                {{'lang.selected_action'|lang|sprintf:gridSelected.length}}
                <i class="icon-caret-down icon-on-right"></i>
            </button>
            <ul class="dropdown-menu dropdown-primary pull-right">
                <li class="{{sa.class}}"
                    ng-show="gridSelected.length === 1 || sa.multi"
                    ng-class="{disabled: !gridSelected.length||(!sa.multi&&(gridSelected.length!=1))}"
                    ng-repeat="sa in selectedActions track by $index">
                    <a ng-click="sa.action($event,gridSelected)" ng-bind="sa.label"></a>
                </li>
            </ul>
        </div>





        <!--//workflow-->
        <div class="pull-left  btn-group" ng-hide="false === selectAble">
            <button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" ng-show="workflowAble">
                {{'lang.workflow'|lang}}
                <span class="icon-caret-down icon-on-right"></span>
            </button>
            <ul class="dropdown-menu dropdown-success pull-right">
                <li>
                    <a ng-click="doViewWorkflowProcesses()" ng-bind="'lang.actions.viewWorkflowProcess'|lang"></a>
                </li>
                <li ng-repeat="w in workflowActionList" ng-class="{disabled: workflowActionDisabled(w.id)}">
                    <a ng-click="doWorkflow($event, w.id);">{{w.name}}</a>
                </li>
            </ul>
        </div>

        <!--//search box-->
        <div class="pull-left " ng-show="searchAble">
            <span class="input-icon">
                <input type="text" placeholder="Search ..." id="gridSearchInput" class="nav-search-input" ng-model-options="{ debounce: 300 }" ng-model="filterOptions.filterText" autocomplete="off" autofocus />
                <i class="icon-search nav-search-icon"></i>
            </span>
        </div>



    </div>

    <div class="col-lg-4">
        <div class="pull-right btn-group">
            <a class="btn btn-sm btn-{{pa.class}}" ng-click="$root.goPage(pa.href)" ng-repeat="pa in pageActions track by $index">{{pa.label}}</a>
            <button class="btn btn-sm btn-danger" ng-click="doClearCachedData()" ng-show="showClearAutoSaved">
                <i class="icon icon-trash-o"></i>
            </button>
        </div>
    </div>


</section>