body {
    background:#1D2024; 
}
.installContainer {
    width:80%;
    margin:0 auto;
}
.installStepBox {
    border-right:1px solid #ddd;
}
.installStepBox p {
    padding-bottom:10px;
    border-bottom:1px dashed #ddd;
}
.installStepBox p:last-child {
    border:none;
}
.form-horizontal {
    padding-top:15px;
}
.languageSelector {
    font-size:12px;
    height:50px;line-height:50px;
    top:0;right:10px;
    position:absolute;
}
#agreementContent {
    padding:10px 0;
    line-height:180%;
}
#agreementContent p {
    text-indent:2em;
}
.toolbar {
    padding:25px 10px 30px;
    margin-top:20px;
}
.pannel-body {
    position:relative;
}
.white {
    color:#fff;
}
.no-padding {
    padding:0;
}
.panel-body {
    padding-bottom:20px !important;
}
h4.header {
    padding:20px 20px 30px;
    border-bottom:1px solid #ccc;
    font-size:20px;
}

.blue {
    color: #337ab7
}
.green {
    color: #5cb85c
}
.red {
    color: #d9534f
}
.installStepBox {
    padding-left:28px;
}
