<div class="dialogs">
    <div class="no-result alert-container" ng-show="!items.length">
        <div class="alert alert-info" ng-bind="'common.No data to display'|lang"></div>
    </div>
    <div class="itemdiv dialogdiv" ng-repeat="item in items">
        <div class="user">
            <img alt="{{item.realname}}" ng-src="{{item.user_info_id|to_avatar_src}}">
        </div>

        <div class="body">
            <div class="time">
                <i class="icon-time"></i>
                <span class="text-success" ng-bind="item.created|to_date_object|date:'shortTime'"></span>
            </div>

            <div class="name">
                <label class="label label-primary" ng-bind="item.user_info_id|to_user_fullname"></label>
            </div>

            <div class="text">
                <span ng-bind="item.subject"></span>
            </div>
            <div class="calendar-paper">
                <span class="head">
                    <small ng-bind="item.created|get_date_item:'year'"></small>
                    <small ng-bind="item.created|get_date_item:'month'"></small>
                </span>
                <span class="content" ng-bind="item.created|get_date_item:'day'"></span>
            </div>
        </div>
    </div>
</div>