<page-actions></page-actions>
<div class="bpm-builder-container" ng-class="{reloading: reloading}">
    <div class="reload-icon">
        <i class="fa fa-cog"></i>
        drawing ...
    </div>
    <div id="bpm-show-container"></div>
    <div class="bpm-editor-container" ng-show="show_editor">
        <textarea
                class="form-control bpm-edit-area" ng-model-options="{debounce:1000}"
                id="bpm-edit-area"
                ng-model="bpm_description_language"></textarea>
    </div>
</div>

<div class="row bpm-builder-footer">
    <div class="col-xs-12">
        <div class="pull-right">
            <a href="javascript:void(0);" ng-click="toggle_editor()" class="btn btn-info">
                <i class=""></i>
                <span ng-bind="'bpm.Hide or show editor'|lang"></span>
            </a>
            <a href="javascript:void(0);" ng-click="submit()" class="btn btn-primary">
                <span ng-bind="'bpm.Save'|lang"></span>
            </a>
        </div>
    </div>
</div>