<pageactions></pageactions>
<div class="billContainer">
    <form name="ordersScript" ng-keydown="doKeydown($event);" novalidate>
        <div class="billBody">
            <bill config="billConfig"></bill>
        </div>
        <div class="billFooter clearfix">
            <div class="row">
                <div class="col-md-1 text-right" ng-bind="'lang.memo'|lang"></div>
                <div class="col-md-10">
                    <input type="text" style="width:100%" />
                </div>
                <div class="col-md-1 text-right">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="doBillSubmit();">{{'lang.actions.submit'|lang}}</button>
                </div>
            </div>
            <!--<div class="row form-group">-->
                <!--<label class="col-sm-1 text-right bolder" ng-bind="i18n.lang.total_price_real"></label>-->
                <!--<div class="col-sm-2">-->
                    <!--<input type="text" ng-model="formMetaData.total_amount_real" class="input-medium text-right" />-->
                <!--</div>-->
                <!--<label class="col-sm-1" ng-bind="formMetaData.total_amount_real|currency:'￥'"></label>-->
                <!--<label class="col-sm-1 text-right bolder" ng-bind="i18n.lang.rmbToBig"></label>-->
                <!--<label class="col-sm-4" ng-bind="formMetaData.total_amount_real|rmbToBig"></label>-->

            <!--</div>-->
            <!--<div class="row form-group">-->
                <!--<label class="col-sm-1 text-right bolder" ng-bind="i18n.lang.memo"></label>-->
                <!--<div class="col-sm-11">-->
                    <!--<input type="text" ng-model="formMetaData.memo" class="width-100" />-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row form-group">-->
                <!--<label class="col-sm-1 text-right bolder">-->
                    <!--{{'lang.sponsor'|lang}}-->
                <!--</label>-->
                <!--<label class="col-sm-9">-->
                    <!--<span ng-bind="$parent.userInfo.truename"></span>-->
                <!--</label>-->
                <!--<div class="col-sm-2 text-right">-->
                    <!--<button type="button" class="btn btn-sm btn-primary" ng-click="doSubmit();">{{'lang.actions.submit'|lang}}</button>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </form>
</div>