<table class="table table-bordered table-hover table-grid dataTable">
    <thead>
    <tr>
        <th width="40"> </th>
        <th
            class="th-{{f.field}}"
            ng-bind-html="f.displayName"
            ng-class="{sortable: f.sortAble||f.field=='id', sorting_asc:sorting==f.field+' DESC',sorting_desc:sorting==f.field+' ASC'}"
            ng-repeat="f in config.columnDefs"
            ng-click="doGridSortBy(f.field)"></th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in itemsList" ng-dblclick="doGridDblClick(item)" ng-click="doGridClick($index, $event)">
            <td align="center">
                <label>
                    <input type="checkbox" class="ace" ng-change="recordSelected(result)" ng-true-value="{{$index+1}}" ng-false-value="{{-($index+1)}}" ng-model="result" />
                    <span class="lbl"></span>
                </label>
            </td>
            <td ng-repeat="field in config.columnDefs" class="td-{{field.field}}" ng-bind-html="item[field.field]|tryGridEval:$parent.$index:field.field|tryGridFilter:field.cellFilter:$parent.$index"></td>
            <td align="center" class="table-grid-operation">
                <a class="{{sa.class}}" ng-click="sa.action($event, gridSelected, item)" ng-class="{disabled: !gridSelected.length||(!sa.multi&&(gridSelected.length!=1))}" ng-repeat="sa in selectedActions" title="{{sa.label}}">
                    <i class="icon icon-{{sa.icon}}" ng-show="sa.icon!==undefined"></i>
                    <span ng-show="sa.icon===undefined" class="blue" ng-bind="sa.label"></span> &nbsp;
                </a>
                <!--<a href="" ng-click="addChild(item.id)" ng-show="config.addSubAble===true"> <i class="icon icon-plus"></i> &nbsp; </a>-->
                <!--<a href="" ng-click="doEditItem(item.id)" ng-hide="config.editAble===false"> <i class="icon icon-pencil"> </i> &nbsp; </a>-->
                <!--<a href="" ng-click="doDeleteItem(item.id)" ng-hide="config.deleteAble===false"> <i class="icon icon-trash-o"> </i> </a>-->
            </td>
        </tr>
        <tr ng-show="itemsList.length<1">
            <td colspan="{{config.columnDefs.length+3}}" class="td-unfound" align="center" ng-bind="$root.i18n.lang.messages.nodata"></td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="{{config.columnDefs.length+3}}" valign="middle">
            <div class="row">
                <div class="col-sm-6">
                    {{'totalServerItem'|lang}} {{$parent.totalServerItems}}<br />
                    {{'paginationInfo'|lang}} {{config.pagingOptions.currentPage}}/{{$parent.totalPages}}
                </div>
                <div class="col-sm-6 text-right">
                    <div class="dataTables_paginate paging_bootstrap">
                        <ul class="pagination">
                            <li class="prev" ng-click="setPage(1)">
                                <a href=""><i class="icon-angle-double-left"></i></a>
                            </li>
                            <li ng-click="setPage('-1')"><a href=""><i class="icon-angle-left"></i></a></li>
                            <li><input type="number" class="input-mini pagingInput" ng-model-options="{ debounce: 500 }" ng-model="config.pagingOptions.currentPage" min="1" max="{{$parent.totalPages}}" /></li>
                            <li ng-click="setPage('+1')"><a href=""><i class="icon-angle-right"></i></a></li>
                            <li class="next" ng-click="setPage('max')">
                                <a href=""><i class="icon-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tfoot>
</table>