<pageactions></pageactions>

<div class="printAbleContainer print_{{printModule}}">
    <h1>
        <span ng-bind="onesConf.company_name"></span>
        <span ng-bind="printTitle"></span>
    </h1>
    <div ng-repeat="bill in data.datas">
        <hr class="hr-10" />
        <table class="width-100">
            <thead>
                <tr>
                    <th ng-bind="rowField.displayName" ng-repeat="rowField in rowsStructure"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in bill.rows">
                    <td ng-repeat="rowField in rowsStructure" ng-bind="row[rowField.field+'_label']||row[rowField.field]"></td>
                </tr>
            </tbody>
            <tfoot ng-include="printFooterTemplate"></tfoot>
        </table>
    </div>
    <div class="row text-center">
        <button class="btn btn-primary btn-sm hidden-print" ng-click="doPrint()">
            <i class="icon icon-print"></i>
            {{i18n.lang.actions.print}}
        </button>
    </div>
</div>