<pageactions></pageactions>

<div class="page-invoice printAbleContainer print_{{printModule}}">
    <div class="panel invoice">
        <div class="invoice-header">
            <h3>
                <div>
                    <small>
                        <span ng-bind="onesConf.company_name"></span>
                        <span ng-bind="printTitle"></span>
                    </small><br>
                    <span ng-bind="billId"></span>
                </div>
            </h3>
            <address>
                <span ng-bind="companyInfo.address"></span><br />
                <span ng-bind="companyInfo.phone"></span><br />
            </address>
            <div class="invoice-date">
                <small ng-bind="dateline|dateFormat:'yyyy-MM-dd HH:mm'"></small>
                <br />
                <small ng-bind="'lang.handlingMan'|lang"></small>
                <small ng-bind="$parent.userInfo.truename"></small>
            </div>
        </div> <!-- / .invoice-header -->
        <div ></div>
    </div>
</div>

<div class="row text-center">
    <button class="btn btn-primary btn-sm hidden-print" ng-click="doPrint()">
        <i class="icon icon-print"></i>
        {{'lang.actions.print'|lang}}
    </button>
</div>
<div>
    <h1>
        <span ng-bind="onesConf.company_name"></span>
        <span ng-bind="printTitle"></span>
    </h1>
    <div ng-repeat="bill in data.datas">
        <hr class="hr-10" />
        <table class="width-100">
            <thead>
                <tr>
                    <th ng-bind="rowField.displayName" ng-repeat="rowField in rowsStructure"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in bill.rows">
                    <td ng-repeat="rowField in rowsStructure" ng-bind="row[rowField.field+'_label']||row[rowField.field]"></td>
                </tr>
            </tbody>
            <tfoot ng-include="printTpl"></tfoot>
        </table>
    </div>

</div>