<pageActions></pageActions>
<div ng-repeat="nc in settingNav.childs">
    <div>
        <a ng-click="$root.goPage(nc.url)"
           href="javascript:void(0);"
           class="btn btn-primary">
            <span class="menu-text" ng-bind="'lang.navs.'+nc.label|lang"></span>
        </a>
    </div>
    <div class="btn-group">
        <a ng-click="$root.goPage(nct.url)"
           ng-repeat="nct in nc.childs"
           class="btn btn-sm btn-default"
                >
            <span class="menu-text" ng-bind="'lang.navs.'+nct.label|lang"></span>
            <i class="fa fa-angle-double-right"></i>
        </a>        
    </div>
    
    <hr>
</div>