<pageActions></pageActions>


<div ng-repeat="nc in $parent.settingNavs.childs">
    <div>
        <a ng-click="$root.goPage(nc.url)"
           class="btn btn-primary">
            <span class="menu-text" ng-bind="'lang.navs.'+nc.label|lang"></span>
        </a>
    </div>
    <a ng-click="$root.goPage(nct.url)"
       ng-repeat="nct in nc.childs"
       class="btn btn-sm"
            >
        <span class="menu-text" ng-bind="'lang.navs.'+nct.label|lang"></span>
        <i class="fa-angle-double-right"></i>
    </a>
    <hr>
</div>