<pageactions></pageactions>
<detail-view config="detailViewConfig">
    <widgetbox wtitle="baseInfo">
            <div class="row form-horizontal">
                <div class="col-xs-12 detailViewTable">
                    <div class="form-group col-sm-{{columnWidth}}" ng-repeat="s in detailViewStructure">
                        <label class="col-sm-3 control-label no-padding-right" ng-bind="s.displayName"></label>
                        <div class="col-sm-8 dvt-info blue" ng-bind-html="detailViewData|tryDetailFilter:s"> </div>
                    </div>
                </div>
            </div>

            <div class="space-10"></div>
    </widgetbox>
    <div class="form-actions center">
        <button class="btn btn-primary" ng-bind="'lang.actions.edit'|lang" ng-click="doEditDetail()" ng-show="config.editAble"></button>
        <button class="btn" ng-bind="'lang.actions.return'|lang" onclick="history.go(-1);"></button>
    </div>
</detail-view>