<section class="actionsBtn clearfix">
    <div class="pull-left actions-btn-left">
        <div class="pull-left btn-group">
            <a class="btn btn-sm btn-info"
               href="javascript:void(0);" onclick="window.location.reload();"><i class="fa fa-refresh"></i></a>
            <div class="pull-left ml-10">
                <button
                        data-toggle="dropdown"
                        class="btn btn-sm btn-default dropdown-toggle"
                        >
                    <span ng-bind="time_dimensions[active_time_dimension].label"></span>
                    <i class="fa fa-caret-down fa-on-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-primary">
                    <li ng-repeat="dimension in time_dimensions track by $index">
                        <a ng-click="switch_dimensions($index, dimension)">
                            <span ng-bind="dimension.label"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="pull-left ml-10">
                <button
                        data-toggle="dropdown"
                        class="btn btn-sm btn-default dropdown-toggle"
                        >
                    <span ng-bind="departments[active_department].label"></span>
                    <i class="fa fa-caret-down fa-on-right"></i>
                </button>
                <ul class="dropdown-menu dropdown-primary pull-right">
                    <li ng-repeat="dept in departments track by $index">
                        <a ng-click="switch_department($index, dept)">
                            <span ng-bind="dept.label"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="pull-left analytics-date-ranger">
            <input type="date" ng-model="date_start" />
            <input type="date" ng-model="date_end" />
            <button class="btn btn-primary btn-sm"
                    ng-click="change_date_range()"
                    ng-bind="'common.Submit'|lang"></button>
        </div>
    </div>


    <div class="pull-right btn-group">
        <a ng-href="{{help_link}}"
           target="_blank"
           class="btn btn-default btn-sm">
            <i class="fa fa-question-circle"></i>
        </a>
    </div>
</section>


<script src="apps/analytics/echarts-all.js"></script>

<div id="chart-container" style="min-height:400px;"></div>

<p class="text-danger text-center">
    <i class="fa fa-lightbulb-o"></i>
    <span ng-bind="'analytics.time_range_warning_message'|lang"></span>
</p>