<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog node-setting-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    &times;
                </button>
                <h4 class="modal-title" ng-bind="'dashboard.Add Widget'|lang"></h4>
            </div>
            <div class="modal-body">
                <form name="node_edit_form" class="form-horizontal form row" novalidate="">
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" ng-bind="'dashboard.Widget'|lang"></label>
                        <div class="col-sm-7">
                            <select ng-model="selected_widget"
                                    style="width:100%;"
                                    ng-options="widget.alias as widget.title for widget in all_widgets"
                                    chosen
                                    ></select>
                        </div>
                        <div class="col-sm-3 help-block"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="add_widget(selected_widget);$hide();" ng-bind="'common.Submit'|lang"></button>
                <button type="button" class="btn btn-default" ng-click="$hide()" ng-bind="'common.Cancel'|lang"></button>
            </div>
        </div>
    </div>
</div>