<script src="apps/analytics/echarts-all.js"></script>
<div ng-class="{'no-widget': dashboard_widgets_list.length<=0}">
    <div gridster="gridster_option" class="dashboard-container">
        <ul>
            <li gridster-item="widget" ng-repeat="widget in dashboard_widgets_list">
                <div class="dashboard-block-item height-100p dragable">
                    <div ng-include="widget.template"
                         class="height-100p"></div>
                </div>
                <a href="javascript:void(0);" ng-click="remove_widget($index)" class="dashboard-widget-remove-btn">
                    &times;
                </a>
            </li>
        </ul>
    </div>

    <a href="javascript:void(0);"
       class="btn btn-primary btn-lg dashboard-add-widget-btn-big"
       ng-show="dashboard_widgets_list.length<=0"
       ng-click="open_widgets_modal()"
            ><i class="fa fa-plus"></i> <span ng-bind="'dashboard.Add Widget'|lang"></span> </a>


    <a href="javascript:void(0);"
       class="btn btn-link btn-sm dashboard-add-widget-btn"
       ng-show="dashboard_widgets_list.length>0"
       ng-click="open_widgets_modal()"
       title="{{'dashboard.Add Widget'|lang}}"
            ><i class="fa fa-plus"></i> </a>
    <a href="javascript:void(0);"
       class="btn btn-link btn-sm dashboard-reload-btn"
       onclick="window.location.reload()"
       title="{{'dashboard.Reload'|lang}}"
            ><i class="fa fa-repeat"></i> </a>
</div>
