<div class="bill-header">
    <div class="bill-subject">
        <div class="bill-subject-left">
            <div class="subject pull-left">
                <h1>
                    <input
                            type="text"
                            ng-model="bill_meta_data.subject"
                            size="4"
                            auto-resize-input
                            ng-readonly="bill_meta_data.locked"
                            />
                </h1>
            </div>
            <div class="company-info pull-left">
                <small ng-bind="company_profile.company_name" ng-show="company_profile.company_name"></small>
                <small>
                    <span ng-show="company_profile.phone">
                        <span ng-bind="('common.Phone'|lang) + ':'"></span>
                        <span ng-bind="company_profile.phone"></span>
                    </span>
                    <span ng-show="company_profile.fax">
                        <span ng-bind="('common.Fax'|lang) + ':'"></span>
                        <span ng-bind="company_profile.fax"></span>
                    </span>
                </small>
                <small ng-bind="company_profile.address" ng-show="company_profile.address"></small>
            </div>
        </div>
        <div class="bill-bar-code" id="bar-code"></div>
    </div>
</div>