<page-actions></page-actions>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" ng-bind="panel_title"></h3>
    </div>
    <div class="panel-body">
        <form-view config="formConfig"></form-view>
    </div>
    <div class="panel-footer text-center">
        <div class="pull-left">
            <button class="btn btn-default btn-lg"
                    ng-click="doFormReset()"
                    ng-show="!is_edit"
                    ng-bind="'common.Reset form'|lang"
                    ></button>
            <button class="btn btn-danger btn-lg"
                    ng-click="doFormClose()"
                    ng-show="!is_edit"
                    ng-bind="'common.Close'|lang"
                    ></button>
        </div>
        <div class="pull-right">
            <button class="btn btn-primary btn-lg"
                    ng-click="doFormSubmit()"
                    ng-bind="'common.Save'|lang"
                    once-click
                    ></button>
            <button class="btn btn-success btn-lg"
                    ng-click="doFormSubmit(true)"
                    ng-show="!is_edit"
                    ng-bind="'common.Save and add another one'|lang"
                    once-click
                    ></button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
