<page-actions></page-actions>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" ng-bind="'account.Change Password'|lang"></h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="old_password" class="col-sm-2 control-label" ng-bind="'Old Password'|lang"></label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="old_password" ng-model="form_data.old_password">
                </div>
            </div>
            <div class="form-group">
                <label for="new_password" class="col-sm-2 control-label" ng-bind="'New Password'|lang"></label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="new_password" ng-model="form_data.new_password">
                </div>
            </div>
            <div class="form-group">
                <label for="new_password_repeat" class="col-sm-2 control-label" ng-bind="'New Password Repeat'|lang"></label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="new_password_repeat" ng-model="form_data.new_password_repeat">
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer text-center">
        <button class="btn btn-primary btn-lg"
                ng-click="doFormSubmit()"
                ng-bind="'common.Submit'|lang"
                once-click
                ></button>
    </div>
</div>
