<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Idea Tech ERP System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- bower:css -->
        <!-- build:css({.tmp,app}) styles/ace.css -->
        <link rel="stylesheet" href="styles/ace/css/bootstrap.min.css" />
        <link rel="stylesheet" href="styles/ace/css/font-awesome.min.css" />
        <link rel="stylesheet" href="styles/ace/css/ace-fonts.css" />
        <link rel="stylesheet" href="styles/ace/css/ace.min.css" />
        <link rel="stylesheet" href="styles/ace/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="styles/ace/css/ace-skins.min.css" />
        <!-- endbuild -->
        <!-- endbower -->
        <!-- build:css({.tmp,app}) styles/vendor.css -->
        <link rel="stylesheet" href="bower_components/angular-grid/ng-grid.min.css" />
        <link rel="stylesheet" href="styles/ace/css/chosen.css" />
        <!-- endbuild -->
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/ace/css/datepicker.css" />
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="erp" ng-controller="MainCtl">
        <div class="navbar navbar-default" id="navbar">
            <script type="text/javascript">
                try {
                    ace.settings.check('navbar', 'fixed')
                } catch (e) {
                }
            </script>
            <div class="navbar-container" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small>
                            <i class="icon-leaf"></i>
                            CN Idea Tech ERP System
                        </small>
                    </a><!-- /.brand -->
                </div><!-- /.navbar-header -->

                <div class="navbar-header pull-right" role="navigation" ng-controller="navHeaderCtl">
                    <ul class="nav ace-nav">
                        <li class="light-blue">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src="styles/ace/avatars/user.jpg" />
                                <span class="user-info">
                                    <small>Welcome,</small>
                                    <em ng-bind="$parent.userInfo.truename"></em>
                                </span>

                                <i class="icon-caret-down"></i>
                            </a>

                            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#">
                                        <i class="icon-cog"></i>
                                        Settings
                                    </a>
                                </li>

                                <li>
                                    <a href="#/HOME/Passport/profile">
                                        <i class="icon-user"></i>
                                        Profile
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="#/HOME/Passport/logout">
                                        <i class="icon-off"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- /.ace-nav -->
                </div><!-- /.navbar-header -->
            </div><!-- /.container -->
        </div>


        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try {
                    ace.settings.check('main-container', 'fixed')
                } catch (e) {
                }
            </script>
            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>

                <div class="sidebar" id="sidebar">
                    <script type="text/javascript">
                        try {
                            ace.settings.check('sidebar', 'fixed')
                        } catch (e) {
                        }
                    </script>

                    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                            <button class="btn btn-success">
                                <i class="icon-signal"></i>
                            </button>

                            <button class="btn btn-info">
                                <i class="icon-pencil"></i>
                            </button>

                            <button class="btn btn-warning">
                                <i class="icon-group"></i>
                            </button>

                            <button class="btn btn-danger">
                                <i class="icon-cogs"></i>
                            </button>
                        </div>

                        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                            <span class="btn btn-success"></span>

                            <span class="btn btn-info"></span>

                            <span class="btn btn-warning"></span>

                            <span class="btn btn-danger"></span>
                        </div>
                    </div><!-- #sidebar-shortcuts -->

                    <ul id="nav-list" class="nav nav-list" ng-controller="CommonSidebarCtl">
                        <li ng-repeat="nav in navs" ng-class="{'active': nav.id==activeShowNav}">
                            <a ng-class="{'dropdown-toggle' : nav.childs.length}" ng-click="checkActiveNav($index, nav.id);goPage(nav.url)">
                                <i class="icon-{{nav.icon}}"></i>
                                <span class="menu-text" ng-bind="i18n.lang.navs[nav.label]"></span>
                                <b class="arrow icon-angle-down" ng-show="{{nav.childs.length}}"></b>
                            </a>
                            <ul class="submenu">
                                <li ng-repeat="nc in nav.childs" ng-class="{'active':nc.id==activeSubNav}">
                                    <a ng-click="checkSubActiveNav(nc.id, nav.id);goPage(nc.url)">
                                        <i class="icon-double-angle-right"></i>
                                        <span class="menu-text" ng-bind="i18n.lang.navs[nc.label]"></span>
                                    </a>
                                    <ul class="submenu">
                                        <li ng-repeat="nct in nc.childs" ng-class="{'active':nct.id == activeThirdNav}">
                                            <a ng-click="checkThirdActiveNav(nct.id, nc.id);goPage(nct.url)">
                                                <i class="icon-double-angle-right"></i>
                                                <span class="menu-text" ng-bind="i18n.lang.navs[nct.label]"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="sidebar-collapse" id="sidebar-collapse">
                        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                    </div>

                    <script type="text/javascript">
                        try {
                            ace.settings.check('sidebar', 'collapsed')
                        } catch (e) {
                        }
                    </script>
                </div>

                <div class="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <script type="text/javascript">
                            try {
                                ace.settings.check('breadcrumbs', 'fixed')
                            } catch (e) {
                            }
                        </script>
                        
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home home-icon"></i>
                                <a href="#/HOME/Index/dashboard">控制面板</a>
                            </li>
                            <li ng-bind="currentPage.group"></li>
                            <li class="active" ng-bind="currentPage.module"></li>
                        </ul><!-- .breadcrumb -->

                        <div class="nav-search" id="nav-search">
                            <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                    <i class="icon-search nav-search-icon"></i>
                                </span>
                            </form>
                        </div><!-- #nav-search -->
                    </div>

                    <div class="page-content">
                        <div class="page-header" ng-show="{{currentPage || true}}">
                            <h1>
                                {{currentPage.action}}
                                <small>
                                    <i class="icon-double-angle-right"></i>
                                    {{currentPage.actionDesc}}
                                </small>
                            </h1>
                        </div><!-- /.page-header -->
                        <div ng-controller="AlertCtl" ng-show="alert.msg">
                            <alert type="alert.type" closeable="aler.closeable" close="closeAlert()">{{alert.msg}}</alert>
                        </div>
                        <div class="col-xs-12" ng-view></div>
                        <!--//demo-->


                    </div><!-- /.page-content -->
                </div><!-- /.main-content -->

                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="icon-cog bigger-150"></i>
                    </div>

                    <div class="ace-settings-box" id="ace-settings-box">
                        <div>
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hide">
                                    <option data-skin="default" value="#438EB9">#438EB9</option>
                                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select>
                            </div>
                            <span>&nbsp; Choose Skin</span>
                        </div>

                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
                            <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                        </div>

                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                        </div>

                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
                            <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                        </div>

                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                            <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                        </div>

                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                            <label class="lbl" for="ace-settings-add-container">
                                Inside
                                <b>.container</b>
                            </label>
                        </div>
                    </div>
                </div><!-- /#ace-settings-container -->
            </div><!-- /.main-container-inner -->

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>
        </div><!-- /.main-container -->

        <!-- build:js({.tmp,app}) scripts/bower.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-grid/ng-grid-2.0.7.debug.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/chosen/chosen.jquery.js"></script>
        <script src="bower_components/angular-chosen-localytics/chosen.js"></script>
        <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/ace.js -->
        <script src="vendor/ace/typeahead-bs2.min.js"></script>
        <script src="vendor/ace/uncompressed/ace.js"></script>
        <script src="vendor/ace/uncompressed/ace-extra.js"></script>
        <script src="vendor/ace/uncompressed/ace-elements.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/app.js -->
        <script src="scripts/lib/function.js"></script>
        
        <script src="scripts/lib/formMaker.js"></script>
        
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/common/commonView.js"></script>
        
        <script src="scripts/common/filter.js"></script>
        <script src="scripts/common/directive.js"></script>
        <script src="scripts/common/service.js"></script>
        <script src="scripts/common/controller.js"></script>
        
        <script src="scripts/home/service.js"></script>
        <script src="scripts/home/controller.js"></script>
        
        <script src="scripts/passport/service.js"></script>
        <script src="scripts/passport/controller.js"></script>
        
        <script src="scripts/jxc/service.js"></script>
        <script src="scripts/jxc/controller.js"></script>
        <!-- endbuild -->
    </body>
</html>
