<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th ng-bind="'lang.updateVersion'|lang"></th>
                    <th ng-bind="'lang.dateline'|lang"></th>
                    <!--<th ng-bind="'lang.memo'|lang"></th>-->
                    <th ng-bind="'lang.operation'|lang"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="u in updates.updates">
                    <td ng-bind="u.version"></td>
                    <td ng-bind="u.dateline|dateFormat"></td>
                    <!--<td ng-bind="u.memo"></td>-->
                    <td>
                        <a ng-click="doDownload(u.id)" ng-bind="'lang.download'|lang" ng-show="!u.downloaded"></a>
                        <span ng-bind="'lang.downloaded'|lang" ng-show="u.downloaded"></span>
                        <a ng-click="doUpdate(u.id)" ng-bind="'lang.update'|lang" ng-show="u.downloaded"></a>
                        <a ng-click="showUpdateLog(u.memo)" ng-bind="'lang.updateLog'|lang"></a>
                    </td>
                </tr>
                <tr ng-show="noNewVersion">
                    <td colspan="4" align="center" ng-bind="'lang.messages.systemUpdateNoNewVersion'|lang"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>