<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
        <label>
            <input name="form-field-checkbox" type="checkbox" class="ace" ng-model="cacheTypes[1]" />
            <span class="lbl" ng-bind="i18n.lang.cache_temp">  </span>
        </label>
        <label>
            <input name="form-field-checkbox" type="checkbox" class="ace" ng-model="cacheTypes[2]" />
            <span class="lbl" ng-bind="i18n.lang.cache_log">  </span>
        </label>
        <label>
            <input name="form-field-checkbox" type="checkbox" class="ace" ng-model="cacheTypes[3]" />
            <span class="lbl" ng-bind="i18n.lang.cache_data">  </span>
        </label>
    </div>
    <hr />
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
        <button ng-click="doClearCache();" class="btn btn-primary" ng-bind="i18n.lang.actions.clearCache"></button>
    </div>
</div>