<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-sm-7 infobox-container">
                <div class="infobox infobox-green  ">
                    <div class="infobox-icon">
                        <i class="icon-comments"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">32</span>
                        <div class="infobox-content">comments + 2 reviews</div>
                    </div>
                    <div class="stat stat-success">8%</div>
                </div>

                <div class="infobox infobox-blue  ">
                    <div class="infobox-icon">
                        <i class="icon-twitter"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">11</span>
                        <div class="infobox-content">new followers</div>
                    </div>

                    <div class="badge badge-success">
                        +32%
                        <i class="icon-arrow-up"></i>
                    </div>
                </div>

                <div class="infobox infobox-pink  ">
                    <div class="infobox-icon">
                        <i class="icon-shopping-cart"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">8</span>
                        <div class="infobox-content">new orders</div>
                    </div>
                    <div class="stat stat-important">4%</div>
                </div>

                <div class="infobox infobox-red  ">
                    <div class="infobox-icon">
                        <i class="icon-beaker"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">7</span>
                        <div class="infobox-content">experiments</div>
                    </div>
                </div>

                <div class="infobox infobox-orange2  ">
                    <div class="infobox-chart">
                        <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"></span>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">6,251</span>
                        <div class="infobox-content">pageviews</div>
                    </div>

                    <div class="badge badge-success">
                        7.2%
                        <i class="icon-arrow-up"></i>
                    </div>
                </div>

                <div class="infobox infobox-blue2  ">
                    <div class="infobox-progress">
                        <div class="easy-pie-chart percentage" data-percent="42" data-size="46">
                            <span class="percent">42</span>%
                        </div>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-text">traffic used</span>

                        <div class="infobox-content">
                            <span class="bigger-110">~</span>
                            58GB remaining
                        </div>
                    </div>
                </div>

                <div class="space-6"></div>

                <div class="infobox infobox-green infobox-small infobox-dark">
                    <div class="infobox-progress">
                        <div class="easy-pie-chart percentage" data-percent="61" data-size="39">
                            <span class="percent">61</span>%
                        </div>
                    </div>

                    <div class="infobox-data">
                        <div class="infobox-content">Task</div>
                        <div class="infobox-content">Completion</div>
                    </div>
                </div>

                <div class="infobox infobox-blue infobox-small infobox-dark">
                    <div class="infobox-chart">
                        <span class="sparkline" data-values="3,4,2,3,4,4,2,2"></span>
                    </div>

                    <div class="infobox-data">
                        <div class="infobox-content">Earnings</div>
                        <div class="infobox-content">$32,000</div>
                    </div>
                </div>

                <div class="infobox infobox-grey infobox-small infobox-dark">
                    <div class="infobox-icon">
                        <i class="icon-download-alt"></i>
                    </div>

                    <div class="infobox-data">
                        <div class="infobox-content">Downloads</div>
                        <div class="infobox-content">1,205</div>
                    </div>
                </div>
            </div>

            <div class="vspace-sm"></div>

            <div class="col-sm-5">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5>
                            <i class="icon-signal"></i>
                            Traffic Sources
                        </h5>

                        <div class="widget-toolbar no-border">
                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                This Week
                                <i class="icon-angle-down icon-on-right bigger-110"></i>
                            </button>

                            <ul class="dropdown-menu pull-right dropdown-125 dropdown-lighter dropdown-caret">
                                <li class="active">
                                    <a href="#" class="blue">
                                        <i class="icon-caret-right bigger-110">&nbsp;</i>
                                        This Week
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icon-caret-right bigger-110 invisible">&nbsp;</i>
                                        Last Week
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icon-caret-right bigger-110 invisible">&nbsp;</i>
                                        This Month
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icon-caret-right bigger-110 invisible">&nbsp;</i>
                                        Last Month
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="piechart-placeholder"></div>

                            <div class="hr hr8 hr-double"></div>

                            <div class="clearfix">
                                <div class="grid3">
                                    <span class="grey">
                                        <i class="icon-facebook-sign icon-2x blue"></i>
                                        &nbsp; likes
                                    </span>
                                    <h4 class="bigger pull-right">1,255</h4>
                                </div>

                                <div class="grid3">
                                    <span class="grey">
                                        <i class="icon-twitter-sign icon-2x purple"></i>
                                        &nbsp; tweets
                                    </span>
                                    <h4 class="bigger pull-right">941</h4>
                                </div>

                                <div class="grid3">
                                    <span class="grey">
                                        <i class="icon-pinterest-sign icon-2x red"></i>
                                        &nbsp; pins
                                    </span>
                                    <h4 class="bigger pull-right">1,050</h4>
                                </div>
                            </div>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div><!-- /widget-box -->
            </div><!-- /span -->
        </div><!-- /row -->

        <div class="hr hr32 hr-dotted"></div>

        <div class="row">
            <div class="col-sm-5">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            <i class="icon-star orange"></i>
                            Popular Domains
                        </h4>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <table class="table table-bordered table-striped">
                                <thead class="thin-border-bottom">
                                    <tr>
                                        <th>
                                            <i class="icon-caret-right blue"></i>
                                            name
                                        </th>

                                        <th>
                                            <i class="icon-caret-right blue"></i>
                                            price
                                        </th>

                                        <th class="hidden-480">
                                            <i class="icon-caret-right blue"></i>
                                            status
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>internet.com</td>

                                        <td>
                                            <small>
                                                <s class="red">$29.99</s>
                                            </small>
                                            <b class="green">$19.99</b>
                                        </td>

                                        <td class="hidden-480">
                                            <span class="label label-info arrowed-right arrowed-in">on sale</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>online.com</td>

                                        <td>
                                            <small>
                                                <s class="red"></s>
                                            </small>
                                            <b class="green">$16.45</b>
                                        </td>

                                        <td class="hidden-480">
                                            <span class="label label-success arrowed-in arrowed-in-right">approved</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>newnet.com</td>

                                        <td>
                                            <small>
                                                <s class="red"></s>
                                            </small>
                                            <b class="green">$15.00</b>
                                        </td>

                                        <td class="hidden-480">
                                            <span class="label label-danger arrowed">pending</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>web.com</td>

                                        <td>
                                            <small>
                                                <s class="red">$24.99</s>
                                            </small>
                                            <b class="green">$19.95</b>
                                        </td>

                                        <td class="hidden-480">
                                            <span class="label arrowed">
                                                <s>out of stock</s>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>domain.com</td>

                                        <td>
                                            <small>
                                                <s class="red"></s>
                                            </small>
                                            <b class="green">$12.00</b>
                                        </td>

                                        <td class="hidden-480">
                                            <span class="label label-warning arrowed arrowed-right">SOLD</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div><!-- /widget-box -->
            </div>
            <div class="col-sm-7">
                <div class="widget-box transparent" id="recent-box">
                    <div ng-controller="TabsDemoCtrl">
                        <tabset>
                            <tab heading="Static title">Static content</tab>
                            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                                {{tab.content}}
                            </tab>
                            <tab select="alertMe()">
                                <tab-heading>
                                    <i class="glyphicon glyphicon-bell"></i> Alert!
                                </tab-heading>
                                I've got an HTML heading, and a select callback. Pretty cool!
                            </tab>
                        </tabset>

                        <hr />

                        <tabset vertical="true" type="navType">
                            <tab heading="Vertical 1">Vertical content 1</tab>
                            <tab heading="Vertical 2">Vertical content 2</tab>
                        </tabset>

                        <hr />

                        <tabset justified="true">
                            <tab heading="Justified">Justified content</tab>
                            <tab heading="SJ">Short Labeled Justified content</tab>
                            <tab heading="Long Justified">Long Labeled Justified content</tab>
                        </tabset>
                    </div>
                </div><!-- /widget-box -->
            </div><!-- /span -->
        </div>


        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->