<tr>
    <td colspan="{{rowsStructure.length}}">
        <div class="printAbleBillHead row">
            <div class="col-xs-4">
                <span ng-bind="'lang.bill_id'|lang|colon"></span>
                <span ng-bind="bill.bill_id"></span>
            </div>
            <div class="col-xs-4">
                <span ng-bind="bill.dateline|dateFormat"></span>
            </div>
            <div class="col-xs-4 text-right">
                <span ng-bind="'lang.stock_manager'|lang|colon"></span>
                <span ng-bind="bill.stock_manager"></span>
            </div>
        </div>
    </td>
</tr>