.cal-year-box [class*="span"], .cal-month-box [class*="cal-cell"] {
    min-height: 60px;
}
.cal-month-day {
    height: 60px;
}
.cal-context {
    margin: 0 70px;
    width: auto;
}
.cal-row-head {
    background: #f2f2f2;
}