<div class="aside right am-slide-right" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="aside-title ng-binding" ng-bind="'lang.actions.viewCraft'|lang"></h4>
            </div>
            <div class="aside-body ng-binding">
                <h6 class="bolder">{{title.goods_name}}</h5>
                <dl class="workflowProcessList tree tree-unselectable">
                    <dd class="tree-item" ng-repeat="item in asideContent.content">
                        <div class="tree-item-name">
                            <i class="icon icon-user"></i>
                            {{item.truename}} <small>{{item.start_time|dateFormat}}</small>
                            ~ <small>{{item.end_time|dateFormat}}</small>
                            <p>{{item.craft_name}} <em ng-show="item.memo">[{{item.memo}}]</em></p>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()" ng-bind="'lang.actions.close'|lang"></button>
            </div>
        </div>
    </div>
</div>