<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th ng-bind="'lang.name'|lang"></th>
            <th ng-bind="'lang.listorder'|lang"></th>
            <th ng-bind="'lang.memo'|lang"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="craft in craftsList">
            <td ng-bind="craft.name"></td>
            <td>
                <input type="text" class="input-mini" size="3" maxlength="3" ng-model="craft.listorder" />
            </td>
            <td ng-bind="craft.memo"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" ng-bind="'lang.messages.craft_listorder_memo'|lang"></td>
        </tr>
    </tfoot>
</table>
<div class="row text-center">
    <a class="btn btn-primary btn-sm" ng-click="doSaveCraft()" ng-bind="'lang.actions.submit'|lang"></a>
</div>