<pageactions></pageactions>
<table class="table table-bordered assignPermissionTable">
    <thead>
        <tr>
            <th width="100">{{'lang.checkAll_uncheck'|lang}}</th>
            <th>{{'lang.authRuleNode'|lang}}</th>
        </tr>
    </thead>
    <tbody class="control-group">
        <tr ng-repeat="itemList in dataList">
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="ace" ng-click="toggleThisLine($event)" />
                        <span class="lbl"></span>
                        <div ng-bind="'lang.App'+itemList[0].category.ucfirst()+'.appName'|lang:'':itemList[0].category"></div>
                    </label>
                </div>
            </td>
            <td>
                <div class="checkbox checkboxContainer">
                    <label ng-repeat="item in itemList">
                        <input type="checkbox" class="ace" data-nodeid="{{item.name}}" ng-model="permissionData[item.name]" name="item.name" />
                        <span class="lbl" ng-bind="item.name|toAuthNodeName"></span>
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td> </td>
            <td colspan="2">
                <button class="btn btn-primary" ng-bind="'lang.actions.save'|lang" ng-click="doSubmit()"></button>
            </td>
        </tr>
    </tfoot>
</table>