<pageactions></pageactions>
<table class="table table-bordered assignPermissionTable">
    <thead>
        <tr>
            <th width="100">{{i18n.lang.checkAll_uncheck}}</th>
            <th>{{i18n.lang.authRuleNode}}</th>
        </tr>
    </thead>
    <tbody class="control-group">
        <tr ng-repeat="itemList in dataList">
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="ace" ng-click="toggleThisLine($event)" />
                        <span class="lbl"></span>
                    </label>
                </div>
            </td>
            <td>
                <div class="checkbox checkboxContainer">
                    <label ng-repeat="item in itemList">
                        <input type="checkbox" class="ace" ng-model="permissionData['id_'+item.id]" />
                        <span class="lbl" ng-bind="' '+item.title"> {{item.title}}</span>
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td> </td>
            <td colspan="2">
                <button class="btn btn-primary" ng-bind="i18n.lang.actions.save" ng-click="doSubmit()"></button>
            </td>
        </tr>
    </tfoot>
</table>