<div id="user-profile-1" class="user-profile row" ng-controller="PassportProfileCtl">
    <div class="col-xs-12 col-sm-3 center">
        <div>
            <span class="profile-picture">
                <img id="avatar" class="editable img-responsive editable-click editable-empty" ng-src="./uploads/Avatars/avatar.php?email={{userInfo.email}}&s=200" style="display: block;" />
            </span>
            <div class="space-4"></div>

            <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                <div class="inline position-relative">
                    <i class="icon-circle light-green middle"></i>
                    &nbsp;
                    <span class="white" ng-bind="userInfo.truename"></span>
                </div>
            </div>
        </div>

        <div class="space-6"></div>
    </div>

    <div class="col-xs-12 col-sm-9">

        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name" ng-bind="'lang.username'|lang"></div>

                <div class="profile-info-value">
                    <span id="username" ng-bind="$parent.userInfo.username"></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name" ng-bind="'lang.email'|lang"></div>

                <div class="profile-info-value" ng-bind="$parent.userInfo.email"></div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name" ng-bind="'lang.phone'|lang"></div>

                <div class="profile-info-value" ng-bind="$parent.userInfo.phone"></div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name" ng-bind="'lang.department'|lang"></div>
                <div class="profile-info-value">
                    <span ng-bind="$parent.userInfo.Department.path"></span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-value">
                    <span class="editable editable-click" id="signup" ng-click="showProfileEdit();" ng-bind="'lang.actions.edit'|lang"></span>
                </div>
            </div>
        </div>

    </div>
</div>