<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <a href="#" ng-href="#/{{app.link}}" class="btn btn-app btn-sm no-radius btn-{{app.btnClass}}" ng-repeat="app in appBtns">
                <i class="icon-{{app.icon}} bigger-230"></i>
                <small class="smaller" ng-bind="app.label"></small>
                <span class="badge badge-pink" ng-show="app.tip" ng-bind="app.tip"></span>
            </a>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
<div class="row">
    <div ng-repeat="item in dashboardItems" ng-include="item.template" class="col-sm-{{item.width}}"></div>
</div>