<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered table-striped">
            <thead class="thin-border-bottom">
                <tr>
                    <th></th>
                    <th>
                        <span ng-bind="'lang.name'|lang"></span>
                    </th>
                    <th> </th>
                    <th class="hidden-480">
                        <span ng-bind="'lang.listorder'|lang"></span>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in blocks">
                    <td>
                        <input type="checkbox" ng-model="item.selected" />
                    </td>
                    <td ng-bind="item.name|lang:'widgetTitles'"></td>
                    <td>
                        <input type="number" ng-model="item.position" class="input-mini" min="1" max="2" />
                    </td>
                    <td>
                        <input type="number" ng-model="item.listorder" class="input-mini" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="center">
            <button class="btn btn-primary btn-sm" ng-click="doSubmit();" ng-bind="'lang.actions.submit'|lang"></button>
        </div>
    </div>
</div>