<form name="LoginForm" autocomplete="off" novalidate>
    <div class="signin-text">
        <span ng-bind="'account.login.Enter Your Login Info'|lang"></span>
    </div>

    <div class="alert hide" ng-class="{'alert-danger': error.is_error||undefined===error.is_error, 'alert-success': !error.is_error&&undefined!==error.is_error, 'hide': !error.msg}">
        <span ng-bind-html="error.msg"></span>
    </div>

    <div class="form-group w-icon">
        <input type="text" name="signin_company_sign"
               class="form-control input-lg"
               ng-model="loginInfo.company_sign_id"
               placeholder="{{'account.login.Company Sign ID'|lang}}"
               autocomplete="off" autofocus required>
        <span class="fa fa-bank signin-form-icon"></span>
    </div>

    <div class="form-group w-icon">
        <input type="text"
               class="form-control input-lg"
               ng-model="loginInfo.username"
               placeholder="{{'account.login.Username'|lang}}"
               autocomplete="off" required>
        <span class="fa fa-user signin-form-icon"></span>
    </div>

    <div class="form-group w-icon">
        <input type="password"
               class="form-control input-lg"
               ng-model="loginInfo.password"
               placeholder="{{'account.login.Password'|lang}}"
               autocomplete="off" required>
        <span class="fa fa-lock signin-form-icon"></span>
    </div>

    <div class="form-actions">
        <button class="signin-btn btn-primary" ng-click="doLogin()" ng-disabled="LoginForm.$invalid">
            <span ng-bind="'account.login.Login' | lang"></span>
        </button>
        <a href="javascript:void(0);" ng-href="#/forgot-password" class="forgot-password">
            <span ng-bind="'account.login.Forget Password?' | lang"></span>
        </a>
        <a href="#" class="register-new-company">
            <span ng-bind="'account.login.Register New Company' | lang"></span>
        </a>
    </div>
</form>