<div class="dialogs">
    <div class="itemdiv dialogdiv" ng-repeat="item in operation_log">
        <div class="user">
            <img alt="{{item.user_id|to_user_fullname}}" ng-src="{{item.user_id|to_avatar_src}}">
        </div>

        <div class="body">
            <div class="time">
                <i class="icon-time"></i>
                <span class="text-success" ng-bind="item.created|to_date_object|date:'shortTime'"></span>
            </div>

            <div class="name">
                <a href="javascript:void(0)">
                    <small ng-bind="item.department_name"></small>
                    <span ng-bind="item.realname"></span>
                </a>
            </div>
            <div class="text">
                <strong ng-bind="item.node_label"></strong>
                <span ng-bind="item.remark"></span>
            </div>
            <div class="calendar-paper">
                <span class="head">
                    <small ng-bind="item.created|get_date_item:'year'"></small>
                    <small ng-bind="item.created|get_date_item:'month'"></small>
                </span>
                <span class="content" ng-bind="item.created|get_date_item:'day'"></span>
            </div>
        </div>
    </div>
</div>