<pageactions></pageactions>
<div class="billContainer">
    <form name="ordersScript" ng-keydown="doKeydown($event);" novalidate>
        <div class="billHeader">
            <div class="row">
                <div class="col-sm-3" id="abc">
                    <label ng-bind="'lang.customer'|lang"></label>:
                    <inputfield config="customerSelectOpts"></inputfield>
                </div>
                <div class="col-sm-4">
                    <label>{{'lang.dateline'|lang}}: </label>
                    <span class="input-icon input-icon-right">
                        <input type="datetime-local" name="inputTime" ng-model="formMetaData.inputTime" />
                        <i class="icon-calendar gray"></i>
                    </span>
                </div>
                <div class="col-sm-2">
                    <inputfield config="typeSelectOpts"></inputfield>
                </div>
                <div class="col-sm-3 align-right">
                    <span>{{'lang.billId'|lang}}:</span>
                    <span ng-bind="formMetaData.bill_id" ng-show="formMetaData.bill_id"></span>
                </div>
            </div>
        </div>
        <div class="billBody">
            <bill config="billConfig"></bill>
        </div>
        <div class="billFooter clearfix">
            <div class="row form-group">
                <label class="col-sm-1 text-right bolder" ng-bind="'lang.total_price_real'|lang"></label>
                <div class="col-sm-2">
                    <input type="text" ng-model="formMetaData.total_amount_real" class="input-medium text-right" />
                </div>
                <label class="col-sm-1" ng-bind="formMetaData.total_amount_real|currency:'￥'"></label>
                <label class="col-sm-1 text-right bolder" ng-bind="'lang.rmbToBig'|lang"></label>
                <label class="col-sm-4" ng-bind="formMetaData.total_amount_real|rmbToBig"></label>

            </div>
            <div class="row form-group">
                <label class="col-sm-1 text-right bolder" ng-bind="'lang.memo'|lang"></label>
                <div class="col-sm-11">
                    <input type="text" ng-model="formMetaData.memo" class="width-100" />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-1 text-right bolder">
                    {{'lang.sponsor'|lang}}
                </label>
                <label class="col-sm-9">
                    <span ng-bind="$parent.userInfo.truename"></span>
                </label>
                <div class="col-sm-2 text-right">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="doSubmit();">{{'lang.actions.submit'|lang}}</button>
                </div>
            </div>


            <div class="row" ng-show="formMetaData.relatedItems.length>0">
                <hr class="hr-10" />
                <div class="col-xs-12">
                    <h4 ng-bind="'lang.relatedItemAndBill'|lang"></h4>
                    <ul class="list-unstyled spaced">
                        <li class="col-sm-4" ng-repeat="item in formMetaData.relatedItems" title="">
                            <i class="icon icon-{{item.icon}}"></i>
                            {{item.type|lang}}
                            <a ng-click="$root.goPage(item.link+item.id)">
                                #{{item.bill_id}}
                            </a>
                            <span class="grey">{{item.processes.status_text}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>