<div class="row">
    <div class="col-xs-12">
        <form name="profileEdit" class="form-horizontal" novalidate="novalidate">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" ng-bind="'lang.email'|lang"></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="userInfo.email" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" ng-bind="'lang.username'|lang"></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="userInfo.username" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" ng-bind="'lang.truename'|lang"></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="userInfo.truename" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" ng-bind="'lang.phone'|lang"></label>
                <div class="col-sm-9">
                    <input type="text" ng-model="userInfo.phone" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" ng-bind="'lang.password'|lang"></label>
                <div class="col-sm-9">
                    <input type="text" class="col-sm-5"ng-model="userInfo.password" />
                    <span class="help-inline col-xs-12 col-sm-7">
                        <span class="middle" ng-bind="'lang.messages.leaveEmptyIfNotEdit'|lang"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button class="btn btn-info" type="button" ng-click="doSubmitProfile();">
                        <i class="icon-ok bigger-110"></i>
                        <span ng-bind="'lang.actions.edit'|lang"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>