<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th ng-bind="i18n.lang.updateVersion"></th>
                    <th ng-bind="i18n.lang.dateline"></th>
                    <!--<th ng-bind="i18n.lang.memo"></th>-->
                    <th ng-bind="i18n.lang.operation"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="u in updates.updates">
                    <td ng-bind="u.version"></td>
                    <td ng-bind="u.dateline|dateFormat"></td>
                    <!--<td ng-bind="u.memo"></td>-->
                    <td>
                        <a ng-click="doDownload(u.id)" ng-bind="i18n.lang.download" ng-show="!u.downloaded"></a>
                        <span ng-bind="i18n.lang.downloaded" ng-show="u.downloaded"></span>
                        <a ng-click="doUpdate(u.id)" ng-bind="i18n.lang.update" ng-show="u.downloaded"></a>
                        <a ng-click="showUpdateLog(u.memo)" ng-bind="i18n.lang.updateLog"></a>
                    </td>
                </tr>
                <tr ng-show="noNewVersion">
                    <td colspan="4" align="center" ng-bind="i18n.lang.messages.systemUpdateNoNewVersion"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>