<section class="actionsBtn row clearfix">
    <div class="actionsBtnLeft btn-group">
        <a class="btn btn-sm btn-light" href="javascript:history.back();"><i class="icon icon-arrow-left"></i></a>
        <a class="btn btn-sm btn-light" href="javascript:history.forward();"><i class="icon icon-arrow-right"></i></a>
        <a class="btn btn-sm btn-{{pa.class}}" ng-href="#{{pa.href}}" ng-repeat="pa in pageActions">{{pa.label}}</a>
    </div>
    <div class="actionsBtnRight btn-group" ng-hide="false === selecteAble">
        <button class="btn btn-sm btn-primary disabled">{{i18n.lang.selected_action|sprintf:gridSelected.length}}</button>
        <button data-toggle="dropdown" class="btn btn-success btn-sm dropdown-toggle" ng-show="workflowAble" ng-class="{disabled: workflowDisabled}">
            {{i18n.lang.workflow}}
            <span class="icon-caret-down icon-on-right"></span>
        </button>
        <ul class="dropdown-menu dropdown-default">
            <li>
                <a ng-click="doViewWorkflowProcesses()" bs-aside="workflowProcessContent" ng-bind="i18n.lang.actions.viewWorkflowProcess"></a>
            </li>
            <li ng-repeat="w in workflowActionList" ng-class="{disabled: workflowActionDisabled(w.id)}">
                <a ng-click="doWorkflow($event, w.id);">{{w.name}}</a>
            </li>
        </ul>
        <button class="btn btn-sm btn-success" ng-click="doAddChild()" ng-class="{disabled: gridSelected.length != 1}" ng-show="addChildAble">{{i18n.lang.actions.addChild}}</button>
        <button class="btn btn-sm btn-primary" ng-click="doViewSub()" ng-class="{disabled: gridSelected.length != 1}" ng-show="viewSubAble">{{i18n.lang.actions.viewSub}}</button>
        <button class="btn btn-sm btn-primary" ng-click="doViewDataModel()" ng-class="{disabled: gridSelected.length != 1 || gridSelected[0].id <= 0}" ng-show="viewDataAble">{{i18n.lang.actions.viewModelData}}</button>
        <button class="btn btn-sm btn-default" ng-click="doEditSelected()" ng-class="{disabled: gridSelected.length != 1}">{{i18n.lang.actions.edit}}</button>
        <button class="btn btn-sm btn-danger"  ng-click="doDeleteSelected()" ng-class="{disabled: !gridSelected.length}">{{i18n.lang.actions.delete}}</button>

    </div>
</section>