<!doctype html>
<html>
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>{$siteTitle}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="common/statics/images/favicon.ico" />
    <link rel="stylesheet" href="common/statics/css/vendor.css" />
    <link rel="stylesheet" href="common/statics/css/bootstrap.css" />
    <link rel="stylesheet" href="common/statics/css/ace.css" />
    <link rel="stylesheet" href="common/statics/css/ace-skins.css" />
    <link rel="stylesheet" href="common/statics/css/font-awesome.css" />
    <link rel="stylesheet" href="common/statics/css/main.css">
    <link rel="stylesheet" href="{:U('FrontendRuntime/index?action=getCss')}" />
</head>
<body ng-app="ones" ng-controller="MainCtl" ng-keydown="doMainKeyDown($event)">
<div class="initCover" id="initCover">
    <div class="loadingCircle"></div>
    <div class="loadingCircle1"></div>
</div>
<div class="navbar navbar-default" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand"></a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right navbar-user" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <img class="nav-user-photo" ng-src="./uploads/Avatars/avatar.php?email={{userInfo.email}}&s=50" />
                                <span class="user-info">
                                    <small>Welcome,</small>
                                    <em ng-bind="userInfo.truename"></em>
                                </span>

                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#/department/Profile">
                                <i class="icon-user"></i>
                                <span ng-bind="i18n.lang.myprofile"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#/dashboard/list/myDesktop">
                                <i class="icon-desktop"></i>
                                <span ng-bind="i18n.lang.my_desktop"></span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#/department/Logout">
                                <i class="icon-power-off"></i>
                                <span ng-bind="i18n.lang.logout"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>


<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar" ng-class="{'menu-min':expand!==true}">
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <a class="btn btn-success" href="#/HOME/list/apps">
                        <i class="icon icon-cloud"></i>
                    </a>

                    <a class="btn btn-info" href="http://www.ng-erp.com/manual/index.html" target="_blank">
                        <i class="icon-book"></i>
                    </a>

                    <button class="btn btn-warning">
                        <i class="icon-group"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="icon-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- #sidebar-shortcuts -->

            <ul id="nav-list" class="nav nav-list" ng-controller="CommonSidebarCtl">
                <li ng-repeat="nav in navs" ng-class="{'active': nav.id==activeShowNav}">
                    <a ng-class="{'dropdown-toggle' : nav.childs.length}" ng-click="checkActiveNav($index, nav.id);goPage(nav.url)">
                        <i class="icon-{{nav.icon}}"></i>
                        <span class="menu-text" ng-bind="i18n.lang.navs[nav.label]||nav.label"></span>
                        <b class="arrow icon-angle-down" ng-show="{{nav.childs.length}}"></b>
                    </a>
                    <ul class="submenu">
                        <li ng-repeat="nc in nav.childs" ng-class="{'active':nc.id==activeSubNav}">
                            <a ng-click="checkSubActiveNav(nc.id, nav.id);goPage(nc.url)">
                                <i class="icon-angle-double-right"></i>
                                <span class="menu-text" ng-bind="i18n.lang.navs[nc.label]||nc.label"></span>
                            </a>
                            <ul class="submenu">
                                <li ng-repeat="nct in nc.childs" ng-class="{'active':nct.id == activeThirdNav}">
                                    <a ng-click="checkThirdActiveNav(nct.id, nc.id);goPage(nct.url)">
                                        <i class="icon-angle-double-right"></i>
                                        <span class="menu-text" ng-bind="i18n.lang.navs[nct.label]||nct.label"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="sidebar-collapse" ng-click="sidebarToggleExpand()">
                <i class="icon" ng-class="{'icon-angle-double-right':expand!==true,'icon-angle-double-left':expand===true}"></i>
            </div>
        </div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#/" ng-bind="i18n.lang.dashboard"></a>
                    </li>
                    <li ng-bind="currentPage.lang.app"></li>
                    <li class="active" ng-bind="currentPage.lang.module"></li>
                </ul><!-- .breadcrumb -->

                <div class="nav-search" ng-controller="multiSearchCtl">
                    <span class="input-icon">
                        <input type="text"
                               id="multiSearchInput"
                               placeholder="Search ..."
                               class="nav-search-input"
                               autocomplete="off"
                               ng-model="keyword"
                               ng-model-options="{debounce:300}"
                               ng-keydown="doSearchKeydown($event)"
                               ng-blur="doSearchBlur($event)"
                               ng-focus="doSearchFocus($event)" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>

                    <ul class="typeahead dropdown-menu" ng-show="results.length>0">
                        <li ng-repeat="p in results track by $index" ng-show="p.datas.length>0">
                            <a ng-href="#/{{p.subject.link}}">
                                <span ng-bind="p.subject.title|lang"></span>
                                <i class="icon icon-level-down"></i>
                            </a>
                            <ul>
                                <li ng-repeat="row in p.datas track by $index" ng-class="{active:row.index===selectedIndex}">
                                    <a ng-href="#/{{row.link}}" ng-bind="row.label"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div><!-- #nav-search -->
            </div>

            <div class="loadingState" ng-show="$root.dataQuering>0">
                <div class="loadingCircle"></div>
                <div class="loadingCircle1"></div>
            </div>

            <div class="page-content">
                <div class="space-10"></div>
                <div class="row">
                    <div id="alerts-container" class="col-xs-12"></div>
                    <div class="col-xs-12" ng-view></div>
                </div>
                <hr class="hr-10 hr-double" />
                <div class="row footer-copy">
                    <p class="text-center">
                        &copy; 2014 Present by <a href="http://www.ng-erp.com" target="_blank">ONES Team</a>
                        v{:DBC('system.version')}
                    </p>
                </div>
                <!--//demo-->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->
</div><!-- /.main-container -->

<div class="bottomAlertContainer" id="bottomAlertContainer"></div>

<ul class="ui-menu ui-widget ui-widget-content ui-corner-all contextMenuDropdown"
    role="menu"
    ng-hide="contextMenu.items.length<=0"
    id="contextMenuDropdown"
    style="left:{{contextMenu.left||-9999}}px;top:{{contextMenu.top||-9999}}px;">
    <li ng-repeat="act in contextMenu.items track by $index" class="ui-menu-item" role="presentation">
        <a tabindex="-1"
           class="ui-corner-all"
           ng-click="act.action(null,contextMenu.selectedItems,contextMenu.currentItem);hideContextMenu();">
            <i class="icon icon-{{act.icon}}"></i>
            <span ng-bind="act.label"></span>
           </a>
    </li>
</ul>
<script type="text/javascript">
    var ones = {
        BaseConf: {
            LoadedApps: ['{$loadedAppsStr}'],
            DEBUG: {$isDebug}
        },
        userInfo: {$userInfo}
    };
</script>
<foreach name="javascripts" item="js">
    <script src="{$js}<if condition="$isDebug">?r={:rand(0,99999)}</if>"></script>
</foreach>
<script src="{:U('FrontendRuntime/read?file=common/base/app.js')}"></script>
</body>
</html>