paths:
    migrations: %%PHINX_CONFIG_DIR%%/Data/Migrations
migration_base_class: Common\Lib\BaseMigration
environments:
    default_migration_table: phinxlog
    default_database: development
    production:
        adapter: %(adapter)s
        host: %(host)s
        name: %(name)s
        user: %(user)s
        pass: %(pass)s
        port: %(port)s
        charset: utf8

    development:
        adapter: %(adapter)s
        host: %(host)s
        name: %(name)s
        user: %(user)s
        pass: %(pass)s
        port: %(port)s
        charset: utf8

    testing:
        adapter: %(adapter)s
        host: %(host)s
        name: %(name)s
        user: %(user)s
        pass: %(pass)s
        port: %(port)s
        charset: utf8