*, h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Console","Monaco","Courier New","mono","monospace", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif; }

html, body {
  height: 100%;
  color: #656565; }

a, button, input {
  transition: all 0.1s ease-out; }

.text-white {
  color: #fff; }

.btn {
  font-weight: normal; }

.contextMenuDropdown {
  position: absolute;
  margin: 0;
  z-index: 100;
  background: #fff; }

.contextMenuDropdown li {
  list-style: none; }
  .contextMenuDropdown li a i {
    float: left;
    width: 20px; }

.dropdown-menu > li > a {
  display: block;
  padding: 3px 25px 3px 15px !important; }

.contextMenuDropdown a:hover {
  text-decoration: none; }

.contextMenuDropdown.dropdown-menu {
  display: block;
  min-width: 0; }

.contextMenuDropdown.dropdown-menu:focus {
  border: 1px solid red !important; }

.no-padding {
  padding: 0 !important; }

.no-border {
  border: 0 !important; }

.avatar img {
  margin: -4px 8px 0 0;
  border-radius: 100%;
  border: 2px solid #FFF;
  width: 45px;
  height: 45px; }

/* tag style */
.tag-style a {
  display: inline-block;
  position: relative;
  padding: 0px 10px;
  line-height: 1.5;
  margin-left: 1em;
  border-radius: 0;
  font-size: 12px;
  transition: none; }
.tag-style a:before {
  position: absolute;
  content: " ";
  border: transparent 0.75em solid;
  top: 0;
  left: -1.5em;
  height: 0em;
  width: 0em; }
.tag-style a:after {
  position: absolute;
  content: " ";
  width: 0.5em;
  height: 0.5em;
  top: 0.5em;
  left: -0.125em;
  border-radius: 0.25em;
  background: #fff; }
.tag-style a, .tag-style a:hover, .tag-style a:visited {
  color: #fff; }
.tag-style a.tag-default {
  background-color: #999;
  border-left: 1px solid #999; }
.tag-style a.tag-default:before {
  border-right-color: #999; }
.tag-style a.tag-default:hover {
  border-left: 1px solid #808080;
  background-color: #808080; }
.tag-style a.tag-default:hover:before {
  border-right-color: #808080; }
.tag-style a.tag-primary {
  background-color: #4d90fe;
  border-left: 1px solid #4d90fe; }
.tag-style a.tag-primary:before {
  border-right-color: #4d90fe; }
.tag-style a.tag-primary:hover {
  border-left: 1px solid #1a70fe;
  background-color: #1a70fe; }
.tag-style a.tag-primary:hover:before {
  border-right-color: #1a70fe; }
.tag-style a.tag-success {
  background-color: #35aa47;
  border-left: 1px solid #35aa47; }
.tag-style a.tag-success:before {
  border-right-color: #35aa47; }
.tag-style a.tag-success:hover {
  border-left: 1px solid #298337;
  background-color: #298337; }
.tag-style a.tag-success:hover:before {
  border-right-color: #298337; }
.tag-style a.tag-info {
  background-color: #5bc0de;
  border-left: 1px solid #5bc0de; }
.tag-style a.tag-info:before {
  border-right-color: #5bc0de; }
.tag-style a.tag-info:hover {
  border-left: 1px solid #31b0d5;
  background-color: #31b0d5; }
.tag-style a.tag-info:hover:before {
  border-right-color: #31b0d5; }
.tag-style a.tag-warning {
  background-color: #faa937;
  border-left: 1px solid #faa937; }
.tag-style a.tag-warning:before {
  border-right-color: #faa937; }
.tag-style a.tag-warning:hover {
  border-left: 1px solid #f89306;
  background-color: #f89306; }
.tag-style a.tag-warning:hover:before {
  border-right-color: #f89306; }
.tag-style a.tag-danger {
  background-color: #d84a38;
  border-left: 1px solid #d84a38; }
.tag-style a.tag-danger:before {
  border-right-color: #d84a38; }
.tag-style a.tag-danger:hover {
  border-left: 1px solid #b93524;
  background-color: #b93524; }
.tag-style a.tag-danger:hover:before {
  border-right-color: #b93524; }

.tag-default a {
  background-color: #999;
  border-left: 1px solid #999; }
.tag-default a:before {
  border-right-color: #999; }
.tag-default a:hover {
  border-left: 1px solid #808080;
  background-color: #808080; }
.tag-default a:hover:before {
  border-right-color: #808080; }

.tag-primary a {
  background-color: #4d90fe;
  border-left: 1px solid #4d90fe; }
.tag-primary a:before {
  border-right-color: #4d90fe; }
.tag-primary a:hover {
  border-left: 1px solid #1a70fe;
  background-color: #1a70fe; }
.tag-primary a:hover:before {
  border-right-color: #1a70fe; }

.tag-success a {
  background-color: #35aa47;
  border-left: 1px solid #35aa47; }
.tag-success a:before {
  border-right-color: #35aa47; }
.tag-success a:hover {
  border-left: 1px solid #298337;
  background-color: #298337; }
.tag-success a:hover:before {
  border-right-color: #298337; }

.tag-info a {
  background-color: #5bc0de;
  border-left: 1px solid #5bc0de; }
.tag-info a:before {
  border-right-color: #5bc0de; }
.tag-info a:hover {
  border-left: 1px solid #31b0d5;
  background-color: #31b0d5; }
.tag-info a:hover:before {
  border-right-color: #31b0d5; }

.tag-warning a {
  background-color: #faa937;
  border-left: 1px solid #faa937; }
.tag-warning a:before {
  border-right-color: #faa937; }
.tag-warning a:hover {
  border-left: 1px solid #f89306;
  background-color: #f89306; }
.tag-warning a:hover:before {
  border-right-color: #f89306; }

.tag-danger a {
  background-color: #d84a38;
  border-left: 1px solid #d84a38; }
.tag-danger a:before {
  border-right-color: #d84a38; }
.tag-danger a:hover {
  border-left: 1px solid #b93524;
  background-color: #b93524; }
.tag-danger a:hover:before {
  border-right-color: #b93524; }

/* end of tag style*/
.pos-relative {
  position: relative; }

.ysf-online-kefu img {
  max-width: 70px !important;
  opacity: 0.8;
  transform: scale(0.8);
  transition: all 0.2s ease-in-out; }

.ysf-online-kefu:hover img {
  opacity: 1;
  transform: scale(1); }

input[type="checkbox"]:checked::after,
.checkbox input[type="checkbox"]:checked::after,
.checkbox-inline input[type="checkbox"]:checked::after {
  content: url(../images/checkmark.png) !important; }

/*# sourceMappingURL=base.css.map */
