.bill-container {
  border: 1px solid #CFCFCF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 20px 20px;
  margin-bottom: 20px; }
  .bill-container .bill-header {
    position: relative; }
    .bill-container .bill-header .bill-subject {
      height: 70px;
      margin: 0;
      position: relative;
      color: #000;
      border-bottom: 1px solid #efefef;
      margin-bottom: 20px; }
      .bill-container .bill-header .bill-subject .bill-subject-left {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 12px; }
        .bill-container .bill-header .bill-subject .bill-subject-left .subject {
          border-right: 1px solid #666;
          padding: 5px 10px 5px 0;
          margin-right: 10px; }
          .bill-container .bill-header .bill-subject .bill-subject-left .subject input {
            border: 0;
            text-align: center; }
          .bill-container .bill-header .bill-subject .bill-subject-left .subject input:focus {
            border: 0;
            outline: none; }
        .bill-container .bill-header .bill-subject .bill-subject-left .company-info {
          padding-top: 8px; }
          .bill-container .bill-header .bill-subject .bill-subject-left .company-info small {
            display: block;
            margin: 1px 0; }
        .bill-container .bill-header .bill-subject .bill-subject-left h1 {
          font-size: 24px;
          margin: 0;
          padding: 10px 0; }
    .bill-container .bill-header .bill-bar-code {
      font-size: 11px;
      color: #222;
      line-height: 180%;
      text-align: right;
      width: 400px;
      position: absolute;
      right: 0;
      top: -5px; }
      .bill-container .bill-header .bill-bar-code img {
        max-width: 100%; }

.bill-rows {
  /* select 3*/ }
  .bill-rows table th {
    background: #f2f2f2; }
  .bill-rows table .operations-td i {
    margin: 0 3px;
    cursor: pointer; }
  .bill-rows table th label {
    margin-bottom: 0; }
  .bill-rows table td[bill-edit-able] {
    padding: 0;
    position: relative; }
    .bill-rows table td[bill-edit-able] label {
      z-index: 2;
      overflow: hidden; }
    .bill-rows table td[bill-edit-able] input {
      z-index: 99; }
    .bill-rows table td[bill-edit-able] input, .bill-rows table td[bill-edit-able] label {
      border: 0;
      width: 100%;
      height: 34px;
      margin: 0;
      padding: 0 5px;
      position: absolute;
      left: 0;
      top: 0;
      color: #000;
      display: block;
      font-weight: normal;
      line-height: 34px; }
    .bill-rows table td[bill-edit-able] input:focus, .bill-rows table td[bill-edit-able] input:hover {
      outline: none;
      box-shadow: none !important;
      -webkit-appearance: none;
      -webkit-appearance: caret;
      -moz-appearance: caret;
      -o-appearance: caret;
      appearance: caret; }
    .bill-rows table td[bill-edit-able] ::-moz-focus-inner {
      border: 0;
      padding: 0; }
    .bill-rows table td[bill-edit-able] .bill_cell_append {
      position: absolute;
      height: 34px;
      line-height: 34px;
      top: 0;
      color: gray; }
    .bill-rows table td[bill-edit-able] .editable_td_after {
      right: 5px; }
    .bill-rows table td[bill-edit-able] .editable_td_before {
      left: 5px;
      z-index: 110; }
  .bill-rows .chosen-container {
    width: 100% !important; }
    .bill-rows .chosen-container .chosen-single {
      height: 36px !important;
      line-height: 35px !important;
      margin: -1px; }
  .bill-rows .select3-container {
    box-shadow: 0 0 10px 3px #7eaffd; }

.bill-container.workflowing {
  box-shadow: 0 1px 3px #4d90fe; }

.bill-footer .bill-footer-meta {
  margin-bottom: 20px; }
  .bill-footer .bill-footer-meta .label {
    margin-right: 5px;
    padding: 5px 5px 4px;
    font-weight: normal; }

.bill-footer-input {
  margin-left: 0; }
  .bill-footer-input .bill-footer-input-item {
    margin: 8px 15px 10px 0;
    float: left;
    width: 300px; }
    .bill-footer-input .bill-footer-input-item .input-group-addon {
      height: 30px; }

.bill-related {
  padding-top: 10px; }
  .bill-related h2 {
    font-size: 20px; }

.bill-quick-search {
  position: fixed;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  top: 65px;
  z-index: 100;
  padding: 5px;
  background: #fff;
  box-shadow: 1px 1px 5px #666; }
  .bill-quick-search input {
    height: 40px; }
  .bill-quick-search ul {
    width: 100%;
    background: #fff;
    border: 1px solid #438ED1;
    list-style: none;
    padding: 0;
    margin-top: -1px; }
    .bill-quick-search ul li {
      padding: 5px 8px;
      cursor: pointer; }
    .bill-quick-search ul li.active, .bill-quick-search ul li:hover {
      background: #438ED1;
      color: #fff; }

/*# sourceMappingURL=bill.css.map */
