@charset "UTF-8";
.table-grid {
  background: #fff;
  margin-bottom: -1px !important; }

.table-grid td {
  vertical-align: middle !important;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap; }

.table-grid .grid-loading-icon {
  font-size: 16px; }

.table-grid th {
  background: #f2f2f2;
  vertical-align: middle;
  padding: 0 8px 18px;
  position: relative;
  white-space: nowrap; }

.table-grid thead th {
  height: 35px; }

.table-grid td.grid-select-td label {
  margin: 0;
  display: block;
  overflow: hidden;
  height: 16px; }

.grid-page-select-box {
  width: 120px;
  margin-right: 10px; }

.table-grid .dropdown-menu {
  min-width: 50px; }

.table-grid .dropdown-menu > li > a {
  padding: 3px 8px; }

.table-grid th .sorting-icon {
  position: absolute;
  right: 10px;
  top: 11px; }

.table-grid th .sorting-icon.fa-sort-desc {
  top: 12px; }

.table-grid th.sorting {
  background: #ffffcc; }

.table-grid td.sorting {
  background: #ffffee; }

.grid-container {
  position: relative; }
  .grid-container .table-grid {
    width: 100%; }

.grid-container.has-filter .grid-table-container {
  margin-right: 179px; }
.grid-container.has-filter .grid-filter-container {
  width: 180px;
  position: absolute;
  right: 0;
  top: 0; }
  .grid-container.has-filter .grid-filter-container h2.filter-title {
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
    background: blue;
    color: #fff;
    margin-left: -1px; }
  .grid-container.has-filter .grid-filter-container .filter-content {
    padding-top: 10px;
    background: #efefef;
    border: 1px solid #ddd;
    border-top: 0;
    font-size: 12px;
    margin-left: -1px; }
    .grid-container.has-filter .grid-filter-container .filter-content .filter-content-links {
      line-height: 180%;
      padding: 0;
      margin-top: 0;
      margin-bottom: 10px; }
      .grid-container.has-filter .grid-filter-container .filter-content .filter-content-links dd, .grid-container.has-filter .grid-filter-container .filter-content .filter-content-links dt {
        padding: 0 6px;
        border-left: 5px solid #efefef;
        height: 20px;
        line-height: 20px; }
      .grid-container.has-filter .grid-filter-container .filter-content .filter-content-links dd a {
        color: #666; }
      .grid-container.has-filter .grid-filter-container .filter-content .filter-content-links dd a:hover {
        color: #1155cc; }
      .grid-container.has-filter .grid-filter-container .filter-content .filter-content-links dd.active {
        border-color: #1155cc; }
        .grid-container.has-filter .grid-filter-container .filter-content .filter-content-links dd.active a {
          color: #1155cc; }

.grid-table-container {
  position: relative; }

.grid-fixed-fields-container {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 170px;
  z-index: 99; }

.grid-not-fixed-fields-container {
  position: relative; }

.grid-not-fixed-fields-container-box {
  width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
  border-bottom: 1px solid #ddd; }

.grid-not-fixed-fields-container-box::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px; }

.grid-not-fixed-fields-container-box::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0.3); }

.table-grid .grid-td-unfound {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: #f9f9f9;
  color: #ccc;
  text-shadow: 1px 1px 1px #fff; }
.table-grid .grid-td-unfound:hover {
  background: #f9f9f9; }
.table-grid th.grid-th-search {
  height: 32px;
  line-height: 32px;
  padding: 0; }
  .table-grid th.grid-th-search input.grid-search-input {
    border: 0;
    width: 100%;
    padding: 0 5px; }
  .table-grid th.grid-th-search input.grid-search-input:focus {
    outline: 0; }
  .table-grid th.grid-th-search span {
    display: block;
    padding: 0 8px;
    color: #bbb;
    text-shadow: 1px 1px 1px #fff; }

.actionsBtn {
  margin-bottom: 10px; }

/* select 3*/
.select3-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  box-shadow: none; }
  .select3-container .select3-show-grid-btn {
    float: right;
    z-index: 101;
    margin: 7px 8px 0 0;
    color: #666;
    position: absolute;
    right: 0;
    top: 0; }
  .select3-container .select3-add-btn {
    float: right;
    z-index: 101;
    margin: 7px 8px 0 0;
    color: #666;
    position: absolute;
    right: 18px;
    top: 0; }
  .select3-container input.form-control {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; }
  .select3-container ul.items {
    background: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 3px;
    margin-top: 0 !important; }
    .select3-container ul.items li {
      height: 30px;
      line-height: 30px;
      padding: 0 5px;
      border-top: 1px solid #ddd;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden; }
    .select3-container ul.items li:hover, .select3-container ul.items li.active {
      background: #7eaffd;
      color: #fff; }

.form-field .select3-container {
  position: relative;
  z-index: auto; }
  .form-field .select3-container ul.items {
    position: absolute;
    z-index: 110;
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0; }

.chosen-container {
  font-size: 12px; }
  .chosen-container .chosen-single {
    height: 30px;
    line-height: 30px;
    border-radius: 0; }
    .chosen-container .chosen-single div b {
      background-position: 0 5px; }

.chosen-single {
  background: #fff !important;
  border: 1px solid #d9d9d9 !important;
  border-top-color: #c0c0c0 !important;
  box-shadow: none !important; }

.chosen-drop {
  border-radius: 0;
  border-color: #d9d9d9 !important; }
  .chosen-drop .chosen-results {
    margin: 0 0 5px 0;
    padding: 0; }
    .chosen-drop .chosen-results .highlighted {
      background: #438ED1 !important;
      color: #fff; }

.chosen-container-active .chosen-single {
  box-shadow: none !important;
  border-color: #438ED1; }

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 5px !important; }

.chosen-results .highlighted {
  background-color: #4d90fe; }

.item_select_input_container {
  position: relative; }
  .item_select_input_container .item_select_input_selected_container {
    position: absolute;
    left: 0;
    top: 0; }
    .item_select_input_container .item_select_input_selected_container a {
      float: left;
      display: inline;
      height: 22px;
      line-height: 22px;
      padding: 0 5px;
      margin: 4px 3px 0 4px;
      font-size: 12px;
      border-radius: 3px; }

.form-panel .panel-heading {
  position: relative; }

.form-field-groups {
  position: absolute;
  right: 15px;
  top: 10px; }
  .form-field-groups .label {
    margin-left: 3px; }

body {
  padding: 10px; }

div[ng-view] {
  padding-bottom: 80px; }

a, a:hover, a:active {
  text-decoration: none;
  cursor: pointer; }

.frame_bger {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  height: 150px;
  line-height: 150px;
  margin-top: -150px;
  text-align: center;
  color: #ddd;
  text-shadow: 1px 1px 1px #fff; }

.actions-search-box {
  width: 160px; }

.actions-search-box input {
  padding: 0 5px;
  height: 31px;
  width: 140px; }

/**
form
*/
.form .help-block {
  padding-top: 6px;
  min-height: 24px; }

/**
    detail view
*/
.detail-view-group {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  margin-right: -1px; }
  .detail-view-group label {
    margin: -10px;
    padding: 10px;
    background: #f2f2f2;
    border-right: 1px solid #ddd; }

.detail-view-group.col-md-12 {
  clear: both; }

/**
页面操作
*/
.actions-search-box input:focus {
  outline: none;
  box-shadow: none; }

.actionsBtn .btn {
  height: 30px;
  line-height: 30px;
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.actions-btn-left .btn-group {
  margin-right: 8px; }

.dropdown-menu li.disabled a, .dropdown-menu li.disabled a:hover, .dropdown-menu li.disabled a:visited {
  color: #ddd; }

.actionsBtn .dropdown-menu {
  min-width: 0; }

.footer-copy {
  height: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 25px;
  left: 10px;
  opacity: 0.6; }

.add_to_common_nav_btn {
  position: fixed;
  right: 60px;
  bottom: 50px;
  background: #438ED1;
  border-radius: 100%;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  z-index: 999;
  font-size: 20px; }
  .add_to_common_nav_btn i {
    color: #fff; }

.detail_view_container {
  position: relative;
  background: #efefef;
  border: 1px solid #ddd; }
  .detail_view_container .detail_view_main {
    margin: -1px;
    margin-right: 179px;
    min-height: 300px;
    background: #fff;
    border-right: 1px solid #ddd; }
    .detail_view_container .detail_view_main .panel-heading {
      height: 35px;
      line-height: 35px;
      font-weight: bold;
      padding: 0 10px;
      font-size: 14px; }
      .detail_view_container .detail_view_main .panel-heading .pull-right {
        font-size: 12px;
        font-weight: normal; }
    .detail_view_container .detail_view_main .detail_view_body .grid-container {
      margin: -1px; }
  .detail_view_container .detail_view_nav {
    width: 180px;
    position: absolute;
    right: 0;
    top: -1px;
    margin-right: -1px; }
    .detail_view_container .detail_view_nav h2.title {
      height: 25px;
      font-size: 12px;
      line-height: 25px;
      margin: 0;
      padding: 0 10px;
      background: #438ED1;
      color: #fff; }
    .detail_view_container .detail_view_nav .content {
      padding: 10px 0;
      font-size: 12px; }
      .detail_view_container .detail_view_nav .content .links {
        line-height: 180%;
        padding: 0;
        margin-top: 0; }
        .detail_view_container .detail_view_nav .content .links dd, .detail_view_container .detail_view_nav .content .links dt {
          padding: 0 10px;
          border-left: 5px solid #efefef;
          height: 20px;
          line-height: 20px; }
        .detail_view_container .detail_view_nav .content .links dd a {
          color: #666; }
        .detail_view_container .detail_view_nav .content .links dd a:hover {
          color: #1155cc; }
        .detail_view_container .detail_view_nav .content .links dd.active {
          border-color: #1155cc; }
          .detail_view_container .detail_view_nav .content .links dd.active a {
            color: #1155cc; }

.dialogs {
  padding: 9px 9px 0;
  position: relative; }

.itemdiv {
  padding-right: 3px;
  min-height: 66px;
  position: relative; }

.itemdiv > .user {
  display: inline-block;
  width: 40px;
  position: absolute;
  left: 4px; }

.itemdiv > .user > img {
  border-radius: 100%;
  border: 2px solid #5293C4;
  width: 40px;
  height: 40px;
  position: relative; }

.itemdiv > .body {
  width: auto;
  margin-left: 60px;
  margin-right: 12px;
  position: relative; }

.itemdiv > .body > .time {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #666;
  position: absolute;
  right: 9px;
  top: 0; }

.itemdiv > .body > .time [class*="icon-"] {
  font-size: 14px;
  font-weight: normal; }

.itemdiv > .body > .name {
  display: block;
  margin-bottom: 5px; }

.itemdiv > .body > .name > b {
  color: #777777; }

.itemdiv > .body > .text {
  display: block;
  position: relative;
  margin-top: 2px;
  padding-bottom: 19px;
  padding-left: 7px;
  font-size: 13px; }

.itemdiv > .body > .text:after {
  display: block;
  content: "";
  height: 1px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  left: 16px;
  right: -12px;
  margin-top: 9px;
  border-top: 1px solid #E4ECF3; }

.itemdiv > .body > .text > [class*="icon-quote-"]:first-child {
  color: #DCE3ED;
  margin-right: 4px; }

.itemdiv:last-child > .body > .text {
  border-bottom: none; }

.itemdiv:last-child > .body > .text:after {
  display: none; }

.itemdiv.dialogdiv {
  padding-bottom: 14px; }

.itemdiv.dialogdiv:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  left: 23px;
  width: 3px;
  max-width: 3px;
  background-color: #E1E6ED;
  border: 1px solid #D7DBDD;
  border-width: 0 1px; }

.itemdiv.dialogdiv:last-child:before {
  display: none; }

.itemdiv.dialogdiv > .user > img {
  border-color: #C9D6E5;
  background: #fff; }

.itemdiv.dialogdiv > .body {
  border: 1px solid #DDE4ED;
  padding: 5px 8px 8px;
  border-left-width: 2px;
  margin-right: 1px; }

.itemdiv.dialogdiv > .body:before {
  content: "";
  display: block;
  position: absolute;
  left: -7px;
  top: 11px;
  width: 8px;
  height: 8px;
  border: 2px solid #DDE4ED;
  border-width: 2px 0 0 2px;
  background-color: #FFF;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.itemdiv.dialogdiv > .body > .text {
  padding-left: 0;
  padding-bottom: 0px; }

.itemdiv.dialogdiv > .body > .text:after {
  display: none; }

.itemdiv.dialogdiv .tooltip-inner {
  word-break: break-all; }

.itemdiv.memberdiv {
  width: 175px;
  padding: 2px;
  margin: 3px 0;
  float: left;
  border-bottom: 1px solid #E8E8E8; }

.itemdiv.memberdiv > .user > img {
  border-color: #DCE3ED; }

.itemdiv.memberdiv > .body > .name {
  line-height: 18px;
  height: 18px;
  margin-bottom: 0; }

.itemdiv.memberdiv > .body > .name > a {
  display: inline-block;
  max-width: 100px;
  max-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all; }

.itemdiv .body {
  min-height: 68px; }
  .itemdiv .body .text {
    margin-right: 150px; }
  .itemdiv .body .time {
    right: 80px;
    top: 5px; }
  .itemdiv .body .calendar-paper {
    position: absolute;
    right: 8px;
    top: 8px;
    background: #fefefe;
    height: 50px;
    width: 60px;
    text-align: center; }
    .itemdiv .body .calendar-paper span {
      display: block; }
    .itemdiv .body .calendar-paper span.head {
      background: #46b8da;
      height: 20px;
      line-height: 20px;
      color: #fff;
      font-size: 12px; }
    .itemdiv .body .calendar-paper span.content {
      font-size: 22px;
      line-height: 30px;
      height: 30px;
      border: 1px solid #ddd;
      border-top: 0; }

.input_widget_user_select {
  background: #fff; }

.select3-container ul {
  border: 1px solid #438ED1;
  border-top: 0; }

.form-group .select3-container {
  padding: 0 15px; }
  .form-group .select3-container .select3-add-btn {
    right: 33px; }
  .form-group .select3-container .select3-show-grid-btn {
    right: 15px; }

.bill-footer-input-item .select3-container-box {
  position: relative;
  width: 100%; }

.bill-rows .select3-container ul {
  margin-top: 34px !important;
  border: 0; }

.workflow-progress-container > div :after {
  content: " ";
  clear: both; }
.workflow-progress-container .avatar {
  float: left; }
.workflow-progress-container .item {
  min-height: 50px; }

/*# sourceMappingURL=frame.css.map */
