@import "common.scss";

body {
    padding: 10px;
}

div[ng-view] {
    padding-bottom:80px;
}

a, a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
}
.frame_bger {
    position: absolute;
    left:0;
    width:100%;
    top:50%;
    height:150px;
    line-height:150px;
    margin-top:-150px;
    text-align:center;
    color:#ddd;
    text-shadow: 1px 1px 1px #fff;
}
.actions-search-box {
    width:160px;
}
.actions-search-box input {
    padding:0 5px;
    height:31px;
    width:140px;
}

/**
form
*/
.form {
    .help-block {
        padding-top:6px;
        min-height: 24px;
    }
}

/**
    detail view
*/
.detail-view-group {
    padding: 10px;
    border:1px solid #ddd;
    margin-bottom: -1px;
    margin-right:-1px;

    label {
        margin: -10px;
        padding:10px;
        background:#f2f2f2;
        border-right:1px solid #ddd;
    }
}
.detail-view-group.col-md-12 {
    clear: both;
}

/**
页面操作
*/

.actions-search-box input:focus {
    outline: none;
    box-shadow:none;
}
.actionsBtn .btn {
    height:30px;
    line-height:30px;
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.actions-btn-left .btn-group {
    margin-right:8px;
}

.dropdown-menu li.disabled a,.dropdown-menu li.disabled a:hover,.dropdown-menu li.disabled a:visited{
    color:#ddd;
}
.actionsBtn .dropdown-menu {
    min-width:0;
}

// footer
.footer-copy {
    height: 50px;line-height:50px;
    position:fixed;
    bottom:25px;
    left:10px;
    opacity: 0.6;
}
.add_to_common_nav_btn {
    position:fixed;
    right:60px;
    bottom:50px;
    background:#438ED1;
    border-radius:100%;
    display:block;
    width:40px;height:40px;
    text-align:center;
    line-height:40px;
    z-index:999;
    font-size:20px;
    i {
        color:#fff;
    }
}

// detail_view
$nav_width: 180px;
.detail_view_container {
    position:relative;
    background:#efefef;
    border:1px solid #ddd;

    .detail_view_main {
        margin:-1px;
        margin-right: $nav_width - 1px;
        min-height:300px;
        background: #fff;
        border-right: 1px solid #ddd;

        .panel-heading {
            height:35px;line-height:35px;
            font-weight:bold;
            padding:0 10px;
            font-size:14px;

            .pull-right {
                font-size: 12px;
                font-weight: normal;
            }
        }

        .detail_view_body .grid-container {
            margin: -1px;
        }

    }

    .detail_view_nav {
        width:$nav_width;
        position: absolute;
        right:0;
        top:-1px;
        margin-right:-1px;

        h2.title {
            height:25px;
            font-size:12px;
            line-height:25px;
            margin:0;
            padding:0 10px;
            background:$focus_color;
            color:#fff;
        }
        .content {
            padding:10px 0;
            font-size:12px;

            .links {
                line-height:180%;
                padding:0;
                margin-top:0;
                dd, dt {
                    padding: 0 10px;
                    border-left: 5px solid #efefef;
                    height:20px;line-height:20px;
                }
                dd a {
                    color: #666;
                }
                dd a:hover {
                    color:#1155cc
                }
                dd.active {
                    border-color:#1155cc;
                    a {
                        color:#1155cc;
                    }
                }
            }
        }
    }

}

// dialog
.dialogs {
    padding: 9px 9px 0;
    position: relative;
}
.itemdiv {
    padding-right: 3px;
    min-height: 66px;
    position: relative;
}
.itemdiv > .user {
    display: inline-block;
    width: 40px;
    position: absolute;
    left: 4px;
}
.itemdiv > .user > img {
    border-radius: 100%;
    border: 2px solid #5293C4;
    width: 40px;
    height: 40px;
    position: relative;
}
.itemdiv > .body {
    width: auto;
    margin-left: 60px;
    margin-right: 12px;
    position: relative;
}
.itemdiv > .body > .time {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #666;
    position: absolute;
    right: 9px;
    top: 0;
}
.itemdiv > .body > .time [class*="icon-"] {
    font-size: 14px;
    font-weight: normal;
}
.itemdiv > .body > .name {
    display: block;
    margin-bottom:5px;
}
.itemdiv > .body > .name > b {
    color: #777777;
}
.itemdiv > .body > .text {
    display: block;
    position: relative;
    margin-top: 2px;
    padding-bottom: 19px;
    padding-left: 7px;
    font-size: 13px;
}
.itemdiv > .body > .text:after {
    display: block;
    content: "";
    height: 1px;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    left: 16px;
    right: -12px;
    margin-top: 9px;
    border-top: 1px solid #E4ECF3;
}
.itemdiv > .body > .text > [class*="icon-quote-"]:first-child {
    color: #DCE3ED;
    margin-right: 4px;
}
.itemdiv:last-child > .body > .text {
    border-bottom: none;
}
.itemdiv:last-child > .body > .text:after {
    display: none;
}
.itemdiv.dialogdiv {
    padding-bottom: 14px;
}
.itemdiv.dialogdiv:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    left: 23px;
    width: 3px;
    max-width: 3px;
    background-color: #E1E6ED;
    border: 1px solid #D7DBDD;
    border-width: 0 1px;
}
.itemdiv.dialogdiv:last-child:before {
    display: none;
}
.itemdiv.dialogdiv > .user > img {
    border-color: #C9D6E5;
    background:#fff;
}
.itemdiv.dialogdiv > .body {
    border: 1px solid #DDE4ED;
    padding: 5px 8px 8px;
    border-left-width: 2px;
    margin-right: 1px;
}
.itemdiv.dialogdiv > .body:before {
    content: "";
    display: block;
    position: absolute;
    left: -7px;
    top: 11px;
    width: 8px;
    height: 8px;
    border: 2px solid #DDE4ED;
    border-width: 2px 0 0 2px;
    background-color: #FFF;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.itemdiv.dialogdiv > .body > .text {
    padding-left: 0;
    padding-bottom: 0px;
}
.itemdiv.dialogdiv > .body > .text:after {
    display: none;
}
.itemdiv.dialogdiv .tooltip-inner {
    word-break: break-all;
}
.itemdiv.memberdiv {
    width: 175px;
    padding: 2px;
    margin: 3px 0;
    float: left;
    border-bottom: 1px solid #E8E8E8;
}
.itemdiv.memberdiv > .user > img {
    border-color: #DCE3ED;
}

.itemdiv.memberdiv > .body > .name {
    line-height: 18px;
    height: 18px;
    margin-bottom: 0;
}
.itemdiv.memberdiv > .body > .name > a {
    display: inline-block;
    max-width: 100px;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.itemdiv {
    .body {
        min-height:68px;
        .text {
            margin-right: 150px;
        }
        .time {
            right: 80px;
            top:5px;
        }
        .calendar-paper {
            position: absolute;
            right:8px;
            top:8px;
            background:#fefefe;
            height:50px;
            width:60px;
            text-align:center;

            span {
                display:block;
            }
            span.head {
                background:#46b8da;
                height:20px;
                line-height:20px;
                color:#fff;
                font-size:12px;
            }
            span.content {
                font-size:22px;
                line-height:30px;
                height:30px;
                border:1px solid #ddd;
                border-top:0;
            }
        }
    }
}

.input_widget_user_select {
    background: #fff;
}


.select3-container {
    ul {
        border:1px solid $focus_color;
        border-top:0;
    }
}
.form-group .select3-container {
    padding:0 15px;
    .select3-add-btn {
        right: 33px;
    }
    .select3-show-grid-btn {
        right: 15px;
    }
}
.bill-footer-input-item .select3-container-box {
    position: relative;
    width: 100%;
}

.bill-rows .select3-container {
    ul {
        margin-top: 34px !important;
        border:0;
    }
}

.workflow-progress-container {
    > div {
        :after {
            content: " ";
            clear: both;
        }
    }
    .avatar {
        float: left
    }

    .item {
        min-height:50px;
    }
}
