<div class="aside right am-slide-right" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="aside-title ng-binding" ng-bind="'lang.actions.viewWorkflowProcess'|lang"></h4>
            </div>
            <div class="aside-body ng-binding">
                <h5 class="bolder" ng-bind="asideContent.title.bill_id"></h5>
                <h5 class="bolder">
                    <span ng-bind="asideContent.title.title"></span>
                    <em><small ng-bind="asideContent.title.subTitle"></small></em>
                </h5>
                <dl class="workflowProcessList tree tree-unselectable">
                    <dd class="tree-item" ng-repeat="item in asideContent.content">
                        <div class="tree-item-name">
                            <i class="fa fa-user"></i>
                            {{item.truename}} <small>{{item.start_time|dateFormat:0}}</small>
                            <div ng-bind="item.nodeName"></div>
                            <div ng-bind-html="item.memo|nl2br"></div>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()" ng-bind="'lang.actions.close'|lang"></button>
            </div>
        </div>
    </div>
</div>