<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th ng-bind="i18n.lang.name"></th>
            <th ng-bind="i18n.lang.listorder"></th>
            <th ng-bind="i18n.lang.memo"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="craft in craftsList">
            <td ng-bind="craft.name"></td>
            <td>
                <input type="text" class="input-mini" size="3" maxlength="3" ng-model="craft.listorder" />
            </td>
            <td ng-bind="craft.memo"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" ng-bind="i18n.lang.messages.craft_listorder_memo"></td>
        </tr>
    </tfoot>
</table>
<div class="row text-center">
    <a class="btn btn-primary btn-sm" ng-click="doSaveCraft()" ng-bind="i18n.lang.actions.submit"></a>
</div>