<style type="text/css">
    .print-header .customer-info{
        margin-top: 10px;
        border:0;
        table-layout: fixed;
    }
    .print-header .customer-info td, .print-header .customer-info th {
        border: 0;
    }
</style>
<div class="print-header">
    <span class="bill-date" ng-bind="print_data.meta.created"></span>
    <span class="bill-no" ng-bind="print_data.meta.bill_no"></span>
    <h1 ng-bind="print_data.meta.subject"></h1>
    <table class="customer-info" border="0">
        <tr>
            <td>
                <strong ng-bind="('crm.Customer'|lang)+':'"></strong>
                <span ng-bind="print_data.meta.customer_id__label__"></span>
            </td>
            <td>
                <strong ng-bind="('crm.Address'|lang)+':'"></strong>
                <span ng-bind="print_data.meta.customer_address"></span>
            </td>
            <td>
                <strong ng-bind="('crm.Phone'|lang)+':'"></strong>
                <span ng-bind="print_data.meta.customer_phone"></span>
            </td>
        </tr>
    </table>
</div>
<div class="print-body">
    <table>
        <thead>
            <tr>
                <th ng-if="print_config.bill_row_fields.indexOf('_sn')>=0" align="center" style="text-align:center" width="50">#</th>
                <th
                        ng-bind="fields_define[row_field].label||(row_field|camelSpace|lang)"
                        ng-repeat="row_field in print_config.bill_row_fields track by row_field"
                        ng-if="row_field!=='_sn'">

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in print_data.rows track by item.id">
                <td ng-if="print_config.bill_row_fields.indexOf('_sn')>=0" ng-bind="$index+1" align="center"></td>
                <td
                        ng-bind="item[row_field]"
                        ng-repeat="row_field in print_config.bill_row_fields track by row_field"
                        ng-if="row_field!=='_sn'">

                </td>
            </tr>
            <tr class="amount_to">
                <td ng-bind="'common.Amount To'|lang" align="center"></td>
                <td
                        ng-bind="item[row_field]"
                        ng-repeat="row_field in print_config.bill_row_fields track by row_field"
                        ng-if="row_field!=='_sn'">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
            </tr>
        </tfoot>
    </table>
</div>
<div class="print-footer"></div>