.workflow-progress-container {
    .item {
        position:relative;
        padding-left:55px;
        margin-bottom:10px;
        border-bottom: 1px dashed #ddd;
        padding-bottom:10px;

        .avatar {
            position: absolute;
            left:0;top:5px;
            img {
                border-color: #ddd;
            }
        }
    }
    .item:last-child {
        border:0;
    }
}