<pageactions></pageactions>
<widgetbox wtitle="relCompanyBaseInfo">
    <commonform config="formConfig" data="defaultData"></commonform>
</widgetbox>
<div class="billContainer">
    <form name="ordersScript" ng-keydown="doKeydown($event);" novalidate>
        <div class="billBody">
            <bill config="billConfig"></bill>
        </div>
    </form>
</div>

<div class="form-actions center">
    <button class="btn btn-primary" ng-click="doComplexSubmit();" ng-bind="'lang.actions.submit'|lang"></button>
    <button class="btn" ng-bind="'lang.actions.return'|lang" onclick="javascript:history.back()"></button>
</div>

<div class="row crmRelatedItemsBlock" ng-show="relatedItems.length>0" ng-repeat="ri in relatedItems">
    <div class="col-xs-12">
        <h4 ng-bind="ri.title"></h4>
        <hr class="hr-10">
        <div ng-include="ri.template"></div>
    </div>
</div>