<page-actions></page-actions>
<div class="bill-container" ng-class="{'workflowing': workflowing}">
    <div ng-include="'views/billHeader.html'"></div>
    <div class="bill-body">
        <bill config="bill_config"></bill>
    </div>
    <div class="bill-footer">

        <div class="bill-footer-input row">
            <div class="input-group bill-footer-input-item" style="width: auto">
                <span class="input-group-addon" ng-bind="'common.Remark'|lang"></span>
                <input type="text" class="form-control" ng-model="bill_meta_data.remark" ng-readonly="bill_meta_data.locked">
            </div>
            <div class="bill-footer-input-item">
                <input-field config="net_pay_amount_config" ng-readonly="bill_meta_data.locked"></input-field>
            </div>
            <div class="bill-footer-input-item">
                <input-field config="supplier_config" ng-readonly="bill_meta_data.locked"></input-field>
            </div>
            <div class="bill-footer-input-item">
                <input-field config="date_config" ng-readonly="bill_meta_data.locked"></input-field>
            </div>
            <div class="bill-footer-input-item">
                <input-field config="workflow_config" ng-readonly="bill_meta_data.locked"></input-field>
            </div>
        </div>

        <div ng-include="'views/billFooter.html'"></div>

    </div>
</div>